<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nyd.order.dao.mapper.TExecuteLoanRecordMapper" > 

	<!-- Result Map-->
	<resultMap id="BaseResultMap" type="com.nyd.order.model.TExecuteLoanRecord" >
			<result column="id" property="id"/>
			<result column="type" property="type"/>
			<result column="order_id" property="orderId"/>
			<result column="out_trade_no" property="outTradeNo"/>
			<result column="status" property="status"/>
			<result column="create_time" property="createTime"/>
			<result column="update_time" property="updateTime"/>
			<result column="helibao_userid" property="helibaoUserid"/>
			<result column="helibao_orderid" property="helibaoOrderid"/>
			<result column="user_no" property="userNo"/>
		</resultMap>
	       
	<!-- t_execute_loan_record table all fields -->
	<sql id="Base_Column_List" >
		 id,type,order_id,out_trade_no,status,create_time,update_time,helibao_userid,helibao_orderid,user_no
	</sql>
	   
	<!-- 查询条件 -->
	<sql id="where_Clause">
	where 1=1
	<trim  suffixOverrides="," >
				 		<if test="id != null and id != ''" >
		    and id =  #{id}
		</if>
				 		<if test="type != null and type != ''" >
		    and type =  #{type}
		</if>
				 		<if test="orderId != null and orderId != ''" >
		    and order_id =  #{orderId}
		</if>
				 		<if test="outTradeNo != null and outTradeNo != ''" >
		    and out_trade_no =  #{outTradeNo}
		</if>
				<if test="status != null" >
		    and status =  #{status}
		</if>
				<if test="createTime != null" >
		    and create_time =  #{createTime}
		</if>
				<if test="updateTime != null" >
		    and update_time =  #{updateTime}
		</if>
				 		<if test="helibaoUserid != null and helibaoUserid != ''" >
		    and helibao_userid =  #{helibaoUserid}
		</if>
				 		<if test="helibaoOrderid != null and helibaoOrderid != ''" >
		    and helibao_orderid =  #{helibaoOrderid}
		</if>
		<if test="userNo != null and userNo != ''" >
		    and user_no =  #{userNo}
		</if>
		</trim>
	</sql>
	
	<!-- 插入放款记录 -->
	<insert id="insert" parameterType="com.nyd.order.model.TExecuteLoanRecord" >
	  insert into t_execute_loan_record(id,type,order_id,out_trade_no,status,create_time,update_time,helibao_userid,helibao_orderid,user_no)
 values(#{id},#{type},#{orderId},#{outTradeNo},#{status},#{createTime},#{updateTime},#{helibaoUserid},#{helibaoOrderid},#{userNo})
	</insert>
	
	<!-- 修改放款记录-->  
	 <update id="update" parameterType="com.nyd.order.model.TExecuteLoanRecord" >
	  update t_execute_loan_record set type=#{type},order_id=#{orderId},out_trade_no=#{outTradeNo},status=#{status},create_time=#{createTime},update_time=#{updateTime},helibao_userid=#{helibaoUserid},helibao_orderid=#{helibaoOrderid},user_no =  #{userNo} where id=#{id}
	 </update>
	 
	 <!-- 选择修改放款记录-->
	<update id="updateBySelective" parameterType="com.nyd.order.model.TExecuteLoanRecord" >
		update t_execute_loan_record set 
	<trim  suffixOverrides="," >
	<if test="type != null  and type != '' ">
		type=#{type},
	</if>
	<if test="orderId != null  and orderId != '' ">
		order_id=#{orderId},
	</if>
	<if test="outTradeNo != null  and outTradeNo != '' ">
		out_trade_no=#{outTradeNo},
	</if>
	<if test="status != null  ">
		status=#{status},
	</if>
	<if test="createTime != null  ">
		create_time=#{createTime},
	</if>
	<if test="updateTime != null  ">
		update_time=#{updateTime},
	</if>
	<if test="helibaoUserid != null  and helibaoUserid != '' ">
		helibao_userid=#{helibaoUserid},
	</if>
	<if test="helibaoOrderid != null  and helibaoOrderid != '' ">
		helibao_orderid=#{helibaoOrderid},
	</if>
	<if test="userNo != null and userNo != ''" >
		user_no =  #{userNo},
	</if>
	</trim> where id=#{id}
	</update>
	
	<!-- 删除放款记录 -->
	<update id="delete" parameterType="Object">
		delete 	 from t_execute_loan_record where id = #{id}
	</update>
	
	<!-- 批量删除放款记录 -->
	<delete id="batchDelete" parameterType="Object">
		delete 	 from t_execute_loan_record where id in 
		<foreach collection="array" index="index" item="item" open="(" separator="," close=")">  
	       	#{item}  
	   	</foreach> 
	</delete>
	 
	<!-- 依据主键查找放款记录 -->
	<select id="selectById" resultMap="BaseResultMap" >
		select <include refid="Base_Column_List" /> 
	 from t_execute_loan_record where id = #{id}
	</select>
	  	
	<!-- 放款记录 列表总数  为分页组件使用-->
	<select id="pageTotalRecord" resultType="java.lang.Long" parameterType="com.nyd.order.model.form.TExecuteLoanRecordSearchForm">
		select count(1) from t_execute_loan_record 
		<include refid="where_Clause"/>
	</select>
	  	
	<!-- 分页中的放款记录集合，为分页组件使用 -->
	<select id="pageData" resultMap="BaseResultMap" parameterType="com.nyd.order.model.form.TExecuteLoanRecordSearchForm">
		select 
		<include refid="Base_Column_List"/>
		from t_execute_loan_record 
		<include refid="where_Clause"/>
		<if test="orderCondition != null and orderCondition != ''" >
	      ${orderCondition}
	    </if>
	    ${queryCondition}
	</select>
	
	<!--依据条件统计 放款记录总数-->
	<select id="count" resultType="java.lang.Long" parameterType="com.nyd.order.model.form.TExecuteLoanRecordSearchForm">
		select count(1) from t_execute_loan_record 
		<include refid="where_Clause"/>
	</select>
  	
</mapper>   
