<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nyd.order.dao.mapper.OrderWentongMapper">
  <resultMap id="BaseResultMap" type="com.nyd.order.entity.OrderWentong">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="loan_time" jdbcType="TIMESTAMP" property="loanTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
  </resultMap>
  <sql id="Base_Column_List">
    id, mobile, user_id, order_no, loan_time, create_time, update_time, update_by
  </sql>
  <select id="selectByTime" parameterType="java.util.Map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_order_wentong
    WHERE  loan_time &gt;= #{startDate}
    AND loan_time &lt; #{endDate}
    <if test="mobile != null and mobile !=''" >
      and  mobile = #{mobile}
    </if>
    <if test="name != null and name !=''" >
      and name = #{name}
    </if>
  </select>

</mapper>