<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nyd.user.dao.mapper.RefundOrderMapper">
	<insert id="save"
		parameterType="com.nyd.user.model.RefundOrderInfo">
		insert into t_refund_order(
		user_id,user_name,account_number,refund_no,refund_amonut,bank_account,bank_name,refund_status,merchant_code,business_order_type,pay_channel_order
		)
		values(
		#{userId},#{userName},#{accountNumber},#{refundNo},#{refundAmonut},#{bankAccount},#{bankName},#{refundStatus},#{merchantCode},#{businessOrderType},#{payChannelOrder}
		)
	</insert>

	<select id="queryRefundOrderTotal"
		parameterType="com.nyd.user.model.RefundOrderInfo" resultType="Integer">
		select count(1) from t_refund_order
		where 1=1
		<if test="userName != null and userName != ''">
			AND user_name = #{userName}
		</if>
		<if test="accountNumber != null and accountNumber != ''">
			AND account_number = #{accountNumber}
		</if>
		<if test="userId != null and userId != ''">
			AND user_id = #{userId}
		</if>
	</select>

	<select id="queryRefundOrder" parameterType="com.nyd.user.model.RefundOrderInfo"
		resultType="com.nyd.user.model.RefundOrderInfo">
		select * from t_refund_order
		where 1=1
		<if test="userName != null and userName != ''">
			AND user_name = #{userName}
		</if>
		<if test="accountNumber != null and accountNumber != ''">
			AND account_number = #{accountNumber}
		</if>
		<if test="userId != null and userId != ''">
			AND user_id = #{userId}
		</if>
		<if test="refundNo != null and refundNo != ''">
			AND refund_no = #{refundNo}
		</if>
	</select>

</mapper>