<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nyd.user.dao.mapper.RefundAppCountMapper">
	<insert id="save"
		parameterType="com.nyd.user.model.RefundAppCountInfo">
		insert into xxd_user.t_refund_app_count
		(app_code,
		click_count,
		register_count,
		count_date
		) values(
		#{appCode,jdbcType=VARCHAR},
		#{clickCount,jdbcType=INTEGER},
		#{registerCount,jdbcType=INTEGER},
		#{countDate, jdbcType=DATE})
	</insert>

	<update id="update"
		parameterType="com.nyd.user.model.RefundAppCountInfo">
		update xxd_user.t_refund_app_count
		set
		<if test="registerCount != null">
			click_count = click_count + 1,
		</if>
		<if test="amountStatus != null">
			register_count = register_count + 1
		</if>
		where app_code = #{appCode} and count_date = #{countDate}
	</update>
	<update id="updateClickCount"
		parameterType="com.nyd.user.model.RefundAppCountInfo">
		update xxd_user.t_refund_app_count
		set
			click_count = click_count + 1
		where app_code = #{appCode} AND DATE_FORMAT(count_date, "%Y-%m-%d" )  =  
				DATE_FORMAT(#{countDate}, "%Y-%m-%d")
	</update>
	<update id="updateRegisterCount"
		parameterType="com.nyd.user.model.RefundAppCountInfo">
		update xxd_user.t_refund_app_count
		set
			register_count = register_count + 1
		where app_code = #{appCode} AND DATE_FORMAT(count_date, "%Y-%m-%d" )  =  
				DATE_FORMAT(#{countDate}, "%Y-%m-%d")
	</update>

	<select id="queryRefundAppCount" parameterType="java.util.Map"
		resultType="com.nyd.user.model.RefundAppCountInfo">
		select * from t_refund_app_count
		<where>
			<if test="startDate != null and startDate != ''">
				AND DATE_FORMAT(count_date, "%Y-%m-%d" )  >=  
				DATE_FORMAT(#{startDate,jdbcType=DATE}, "%Y-%m-%d")
			</if>
			<if test="endDate != null and endDate != ''">
				AND DATE_FORMAT(count_date, "%Y-%m-%d" )  &lt;=  
				DATE_FORMAT(#{endDate,jdbcType=DATE}, "%Y-%m-%d")
			</if>
			<if test="appCode != null and appCode != ''">
				and app_code = #{appCode,jdbcType=VARCHAR}
			</if>
		</where>
	</select>
	<select id="queryRefundAppCountTotal" parameterType="java.util.Map"
		resultType="Integer">
		select count(*) from t_refund_app_count
		<where>
			<if test="startDate != null and startDate != ''">
				AND DATE_FORMAT(count_date, "%Y-%m-%d" )  >=  
				DATE_FORMAT(#{startDate,jdbcType=DATE}, "%Y-%m-%d")
			</if>
			<if test="endDate != null and endDate != ''">
				AND DATE_FORMAT(count_date, "%Y-%m-%d" )  &lt;=  
				DATE_FORMAT(#{endDate,jdbcType=DATE}, "%Y-%m-%d")
			</if>
			<if test="appCode != null and appCode != ''">
				and app_code = #{appCode,jdbcType=VARCHAR}
			</if>
		</where>
	</select>
	<select id="judgeRefundAppCount" parameterType="java.util.Map"
		resultType="Integer">
		select count(*) from t_refund_app_count
		<where>
			<if test="date != null">
				AND DATE_FORMAT(count_date, "%Y-%m-%d" )  =  
				DATE_FORMAT(#{date,jdbcType=DATE}, "%Y-%m-%d")
			</if>
			<if test="appCode != null and appCode != ''">
				and app_code = #{appCode,jdbcType=VARCHAR}
			</if>
		</where>
	</select>
</mapper>
