<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nyd.user.dao.mapper.UserSourceMapper">


    <select id="selectSource" parameterType="string" resultType="com.nyd.user.entity.UserSource">
        select account_number,app_name,source from xxd_user.t_user_source
        where account_number = #{mobile}
    </select>
    <insert id="save" parameterType="com.nyd.user.entity.UserSource">
        insert into t_user_source
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="accountNumber != null">
                account_number,
            </if>
            <if test="appName != null">
                app_name,
            </if>
            <if test="source != null">
                source,
            </if>
            <if test="os != null">
                os,
            </if>
            <if test="deleteFlag != null">
                delete_flag,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="updateBy != null">
                update_by,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="accountNumber != null">
                #{accountNumber,jdbcType=VARCHAR},
            </if>
            <if test="appName != null">
                #{appName,jdbcType=VARCHAR},
            </if>
            <if test="source != null">
                #{source,jdbcType=VARCHAR},
            </if>
            <if test="os != null">
                #{os,jdbcType=VARCHAR},
            </if>
            <if test="deleteFlag != null">
                #{deleteFlag,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                #{updateBy,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="getInfoByParam" resultType="com.nyd.user.model.t.UserInfo" parameterType="java.util.Map">
    	select a.account_number as phone,u.real_name as userName,u.user_id as userId
	from 
		t_account as a join t_user as u on a.user_id=u.user_id
	where a.account_type=10 
		<if test="userId !=null and userId != ''">
			and u.user_id= #{userId}
		</if>
		<if test="userName !=null and userName != ''">
			and u.real_name = #{userName}
		</if>
		<if test="phone !=null and phone != ''">
			and a.account_number = #{phone}
		</if>
    </select>
	<select id="getInfoByUserId" resultType="com.nyd.user.model.t.UserInfo" parameterType="string">
		select a.user_id userId,
		b.account_number phone,
		c.real_name userName,
		c.id_number idCard ,
		c.highest_degree education,
		c.marital_status isMatrimony,
		c.living_address permanentAddress,
		d.company companyName,
		d.company_address companyAddress,
		d.salary salary ,
		d.profession job,
		d.industry industry 
		 from 
		t_user a
		LEFT JOIN t_account b
		on a.user_id = b.user_id LEFT JOIN
		t_user_detail c ON
		c.user_id = a.user_id LEFT JOIN
		t_user_job d ON
		d.user_id = a.user_id 
		where a.user_id = #{userId}
	</select>
	
	<select id="getInfoUserId" resultType="com.nyd.user.model.t.UserInfo" parameterType="string">
		select a.user_id userId,
		b.account_number phone,
		c.real_name userName,
		c.id_number idCard ,
		c.highest_degree education,
		c.marital_status isMatrimony,
		c.living_address permanentAddress
		 from 
		t_user a
		LEFT JOIN t_account b
		on a.user_id = b.user_id LEFT JOIN
		t_user_detail c ON
		c.user_id = a.user_id
		where a.user_id = #{userId}
	</select>
</mapper>