<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nyd.batch.dao.mapper.CuiShouMapper">
    <resultMap type="com.nyd.batch.entity.Bill" id="BillResult">
        <result property="id" column="id"/>
        <result property="user_id" column="userId"/>
        <result property="bill_no" column="billNo"/>
        <result property="order_no" column="orderNo"/>
        <result property="cur_period" column="curPeriod"/>
        <result property="periods" column="periods"/>
        <result property="promise_repayment_date" column="promiseRepaymentDate"/>
        <result property="actual_settle_date" column="actualSettleDate"/>
        <result property="cur_repay_amount" column="curRepayAmount"/>
        <result property="repay_principle" column="repayPrinciple"/>
        <result property="repay_interest" column="repayInterest"/>
        <result property="fast_audit_fee" column="fastAuditFee"/>
        <result property="account_manage_fee" column="accountManageFee"/>
        <result property="identity_verify_fee" column="identityVerifyFee"/>
        <result property="mobile_verify_fee" column="mobileVerifyFee"/>
        <result property="bank_verify_fee" column="bankVerifyFee"/>
        <result property="credit_service_fee" column="creditServiceFee"/>
        <result property="information_push_fee" column="informationPushFee"/>
        <result property="sliding_fee" column="slidingFee"/>
        <result property="synthetical_fee" column="syntheticalFee"/>
        <result property="coupon_derate_amount" column="couponDerateAmount"/>
        <result property="bill_status" column="billStatus"/>
        <result property="wait_repay_amount" column="waitRepayAmount"/>
        <result property="already_repay_amount" column="alreadyRepayAmount"/>
        <result property="delete_flag" column="deleteFlag"/>
    </resultMap>

    <resultMap type="com.nyd.batch.entity.OverdueBill" id="OverdueBillResult">
        <result property="id" column="id"/>
        <result property="user_id" column="userId"/>
        <result property="bill_no" column="billNo"/>
        <result property="order_no" column="orderNo"/>
        <result property="bill_status" column="billStatus"/>
        <result property="overdue_fine" column="overdueFine"/>
        <result property="overdue_amount" column="overdueAmount"/>
        <result property="overdue_days" column="overdueDays"/>
        <result property="collection_derate_amount" column="collectionDerateAmount"/>
        <result property="delete_flag" column="deleteFlag"/>
        <result property="create_time" column="createTime"/>
    </resultMap>




    <select id="getCuishouBills"  resultMap="OverdueBillResult">
        select * from t_overdue_bill where delete_flag=0 AND
        bill_status = 'B002' AND (overdue_days=1 OR overdue_days=31 OR overdue_days=61)
    </select>

    <select id="getBillByBillNo" parameterType="java.util.Map" resultMap="BillResult">
        select * from t_bill where delete_flag=0 AND
        bill_no = #{billNo}
    </select>

    <select id="getCuishouBillsAll" resultMap="OverdueBillResult">
        select * from t_overdue_bill where delete_flag=0 AND
        bill_status = 'B002'
    </select>
    <select id="getOverdueStatusYestoday" resultMap="OverdueBillResult">
        SELECT * FROM t_overdue_bill WHERE delete_flag=0 AND overdue_days in(1,2,16,17,31,32,61,62)
    </select>
    <select id="getOverdueStatusByTime" parameterType="java.util.Map" resultMap="OverdueBillResult">
        SELECT * from t_overdue_bill where delete_flag=0 AND create_time &gt;= CONCAT(#{startDate},' 00:00:00') and create_time&lt;= CONCAT(#{endDate},' 23:59:59')
    </select>

    <select id="getOverdueStatusAll" parameterType="java.util.Map" resultMap="OverdueBillResult">
        SELECT * from t_overdue_bill WHERE delete_flag=0 AND create_time&lt;= CONCAT(#{endDate},' 23:59:59')
    </select>


</mapper>