<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nyd.batch.dao.mapper.TRemitMapper">
  <resultMap id="BaseResultMap" type="com.nyd.batch.entity.TRemit">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="order_no" jdbcType="CHAR" property="orderNo" />
    <result column="remit_no" jdbcType="CHAR" property="remitNo" />
    <result column="remit_amount" jdbcType="DECIMAL" property="remitAmount" />
    <result column="remit_time" jdbcType="TIMESTAMP" property="remitTime" />
    <result column="fund_code" jdbcType="CHAR" property="fundCode" />
    <result column="remit_status" jdbcType="VARCHAR" property="remitStatus" />
    <result column="user_bank_no" jdbcType="VARCHAR" property="userBankNo" />
    <result column="error_code" jdbcType="VARCHAR" property="errorCode" />
    <result column="contract_link" jdbcType="VARCHAR" property="contractLink" />
    <result column="remit_bank_name" jdbcType="VARCHAR" property="remitBankName" />
    <result column="pay_type" jdbcType="VARCHAR" property="payType" />
    <result column="account_type" jdbcType="VARCHAR" property="accountType" />
    <result column="remit_procedure_fee" jdbcType="DECIMAL" property="remitProcedureFee" />
    <result column="delete_flag" jdbcType="TINYINT" property="deleteFlag" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
  </resultMap>
  <sql id="Base_Column_List">
    id, order_no, remit_no, remit_amount, remit_time, fund_code, remit_status, user_bank_no, 
    error_code, contract_link, remit_bank_name, pay_type, account_type, remit_procedure_fee, 
    delete_flag, create_time, update_time, update_by
  </sql>

  <select id="queryByTimeRange" parameterType="java.util.Map" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM t_remit
    WHERE  remit_time &gt;= CONCAT(#{flagDate},' 00:00:00')
      AND remit_time &lt;= CONCAT(#{flagDate},' 23:59:59') AND remit_status = '0'

  </select>


</mapper>