<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiwang.zfm.dao.sys.CompanyUserMapper" > 

	<!-- Result Map-->
	<resultMap id="BaseResultMap" type="com.zhiwang.zfm.entity.sys.CompanyUser" >
			<result column="id" property="id"/>
			<result column="user_id" property="userId"/>
			<result column="company_id" property="companyId"/>
			<result column="status" property="status"/>
			<result column="create_time" property="createTime"/>
		</resultMap>
	       
	<!-- sys_company_user table all fields -->
	<sql id="Base_Column_List" >
		 id,user_id,company_id,status,create_time
	</sql>
	   
	<!-- 查询条件 -->
	<sql id="where_Clause">
	where 1=1
	<trim  suffixOverrides="," >
				 		<if test="id != null and id != ''" >
		    and id =  #{id}
		</if>
				 		<if test="userId != null and userId != ''" >
		    and user_id =  #{userId}
		</if>
				 		<if test="companyId != null and companyId != ''" >
		    and company_id =  #{companyId}
		</if>
				<if test="status != null" >
		    and status =  #{status}
		</if>
				<if test="createTime != null" >
		    and create_time =  #{createTime}
		</if>
		</trim>
	</sql>
	
	<!-- 插入公司用户关联表 -->
	<insert id="insert" parameterType="com.zhiwang.zfm.entity.sys.CompanyUser" >
	  insert into sys_company_user(id,user_id,company_id,status,create_time)
 values(#{id},#{userId},#{companyId},#{status},#{createTime})
	</insert>
	
	<!-- 修改公司用户关联表-->  
	 <update id="update" parameterType="com.zhiwang.zfm.entity.sys.CompanyUser" >
	  update sys_company_user set user_id=#{userId},company_id=#{companyId},status=#{status},create_time=#{createTime} where id=#{id}
	 </update>
	 
	 <!-- 选择修改公司用户关联表-->
	<update id="updateBySelective" parameterType="com.zhiwang.zfm.entity.sys.CompanyUser" >
		update sys_company_user set 
	<trim  suffixOverrides="," >
	<if test="userId != null  and userId != '' ">
		user_id=#{userId},
	</if>
	<if test="companyId != null  and companyId != '' ">
		company_id=#{companyId},
	</if>
	<if test="status != null  ">
		status=#{status},
	</if>
	<if test="createTime != null  ">
		create_time=#{createTime},
	</if>
	</trim> where id=#{id}
	</update>
	
	<!-- 删除公司用户关联表 -->
	<update id="delete" parameterType="Object">
		delete 	 from sys_company_user where id = #{id}
	</update>
	
	<!-- 批量删除公司用户关联表 -->
	<delete id="batchDelete" parameterType="Object">
		delete 	 from sys_company_user where id in 
		<foreach collection="array" index="index" item="item" open="(" separator="," close=")">  
	       	#{item}  
	   	</foreach> 
	</delete>
	 
	<!-- 依据主键查找公司用户关联表 -->
	<select id="selectById" resultMap="BaseResultMap" >
		select <include refid="Base_Column_List" /> 
	 from sys_company_user where id = #{id}
	</select>
	  	
	<!-- 公司用户关联表 列表总数  为分页组件使用-->
	<select id="pageTotalRecord" resultType="java.lang.Long" parameterType="com.zhiwang.zfm.entity.sys.query.CompanyUserSearchForm">
		select count(1) from sys_company_user 
		<include refid="where_Clause"/>
	</select>
	  	
	<!-- 分页中的公司用户关联表集合，为分页组件使用 -->
	<select id="pageData" resultMap="BaseResultMap" parameterType="com.zhiwang.zfm.entity.sys.query.CompanyUserSearchForm">
		select 
		<include refid="Base_Column_List"/>
		from sys_company_user 
		<include refid="where_Clause"/>
		<if test="orderCondition != null and orderCondition != ''" >
	      ${orderCondition}
	    </if>
	    ${queryCondition}
	</select>
	
	<!--依据条件统计 公司用户关联表总数-->
	<select id="count" resultType="java.lang.Long" parameterType="com.zhiwang.zfm.entity.sys.query.CompanyUserSearchForm">
		select count(1) from sys_company_user 
		<include refid="where_Clause"/>
	</select>
  	
</mapper>   
