<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiwang.zfm.dao.sys.RoleMapper" > 

	<!-- Result Map-->
	<resultMap id="BaseResultMap" type="com.zhiwang.zfm.entity.sys.Role" >
			<result column="id" property="id"/>
			<result column="name" property="name"/>
			<result column="create_time" property="createTime"/>
			<result column="update_time" property="updateTime"/>
			<result column="status" property="status"/>
			<result column="sys_module_ids" property="sysModuleIds"/>
			<result column="remark" property="remark"/>
			<result column="default_flag" property="defaultFlag"/>
		</resultMap>
	       
	<!-- sys_role table all fields -->
	<sql id="Base_Column_List" >
		 id,name,create_time,update_time,status,sys_module_ids,remark,default_flag
	</sql>
	   
	<!-- 查询条件 -->
	<sql id="where_Clause">
	where 1=1
	<trim  suffixOverrides="," >
				 		<if test="id != null and id != ''" >
		    and id =  #{id}
		</if>
				 		<if test="name != null and name != ''" >
		    and name =  #{name}
		</if>
				 		<if test="likeName != null and likeName != ''" >
		    and name like  CONCAT('%',#{likeName},'%')
		</if>
				<if test="createTime != null" >
		    and create_time =  #{createTime}
		</if>
				<if test="updateTime != null" >
		    and update_time =  #{updateTime}
		</if>
				<if test="status != null" >
		    and status =  #{status}
		</if>
				 		<if test="sysModuleIds != null and sysModuleIds != ''" >
		    and sys_module_ids =  #{sysModuleIds}
		</if>
				 		<if test="remark != null and remark != ''" >
		    and remark =  #{remark}
		</if>
		</trim>
	</sql>
	
	<!-- 插入角色 -->
	<insert id="insert" parameterType="com.zhiwang.zfm.entity.sys.Role" >
	  insert into sys_role(id,name,create_time,update_time,status,sys_module_ids,remark)
 values(#{id},#{name},#{createTime},#{updateTime},#{status},#{sysModuleIds},#{remark})
	</insert>
	
	<!-- 修改角色-->  
	 <update id="update" parameterType="com.zhiwang.zfm.entity.sys.Role" >
	  update sys_role set name=#{name},create_time=#{createTime},update_time=#{updateTime},status=#{status},sys_module_ids=#{sysModuleIds},remark=#{remark} where id=#{id}
	 </update>
	 
	 <!-- 选择修改角色-->
	<update id="updateBySelective" parameterType="com.zhiwang.zfm.entity.sys.Role" >
		update sys_role set 
	<trim  suffixOverrides="," >
	<if test="name != null  and name != '' ">
		name=#{name},
	</if>
	<if test="createTime != null  ">
		create_time=#{createTime},
	</if>
	<if test="updateTime != null  ">
		update_time=#{updateTime},
	</if>
	<if test="status != null  ">
		status=#{status},
	</if>
	<if test="sysModuleIds != null ">
		sys_module_ids=#{sysModuleIds},
	</if>
	<if test="remark != null  and remark != '' ">
		remark=#{remark},
	</if>
	</trim> where id=#{id}
	</update>
	
	<!-- 删除角色 -->
	<update id="delete" parameterType="Object">
		delete 	 from sys_role where id = #{id}
	</update>
	
	<!-- 批量删除角色 -->
	<delete id="batchDelete" parameterType="Object">
		delete 	 from sys_role where id in 
		<foreach collection="array" index="index" item="item" open="(" separator="," close=")">  
	       	#{item}  
	   	</foreach> 
	</delete>
	 
	<!-- 依据主键查找角色 -->
	<select id="selectById" resultMap="BaseResultMap" >
		select <include refid="Base_Column_List" /> 
	 from sys_role where id = #{id}
	</select>
	  	
	<!-- 角色 列表总数  为分页组件使用-->
	<select id="pageTotalRecord" resultType="java.lang.Long" parameterType="com.zhiwang.zfm.entity.sys.query.RoleSearchForm">
		select count(1) from sys_role 
		<include refid="where_Clause"/>
	</select>
	  	
	<!-- 分页中的角色集合，为分页组件使用 -->
	<select id="pageData" resultMap="BaseResultMap" parameterType="com.zhiwang.zfm.entity.sys.query.RoleSearchForm">
		select 
		<include refid="Base_Column_List"/>
		from sys_role 
		<include refid="where_Clause"/>
		<if test="orderCondition != null and orderCondition != ''" >
	      ${orderCondition}
	    </if>
	    ${queryCondition}
	</select>
	
	<!--依据条件统计 角色总数-->
	<select id="count" resultType="java.lang.Long" parameterType="com.zhiwang.zfm.entity.sys.query.RoleSearchForm">
		select count(1) from sys_role 
		<include refid="where_Clause"/>
	</select>
  	
  	<select id="getRoleListByModuleId" resultMap="BaseResultMap">
  		select 
		<include refid="Base_Column_List"/>
		from sys_role where sys_module_ids = #{moduleId} 
		or sys_module_ids like CONCAT(#{moduleId},',%') 
		or sys_module_ids like CONCAT('%,',#{moduleId}) 
		or sys_module_ids like CONCAT('%,',#{moduleId},',%')
  	</select>
</mapper>   
