<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiwang.zfm.dao.sys.SysParameterMapper" > 

	<!-- Result Map-->
	<resultMap id="BaseResultMap" type="com.zhiwang.zfm.entity.sys.SysParameter" >
			<result column="id" property="id"/>
			<result column="withdraw_cash_amount" property="withdrawCashAmount"/>
			<result column="refuse_day" property="refuseDay"/>
			<result column="create_time" property="createTime"/>
			<result column="update_time" property="updateTime"/>
			<result column="userinfo_verify_day" property="userinfoVerifyDay"/>
			<result column="mobile_verify_day" property="mobileVerifyDay"/>
		</resultMap>
	       
	<!-- sys_parameter table all fields -->
	<sql id="Base_Column_List" >
		 id,withdraw_cash_amount,refuse_day,create_time,update_time,userinfo_verify_day,mobile_verify_day
	</sql>
	   
	<!-- 查询条件 -->
	<sql id="where_Clause">
	where 1=1
	<trim  suffixOverrides="," >
				 		<if test="id != null and id != ''" >
		    and id =  #{id}
		</if>
				<if test="withdrawCashAmount != null" >
		    and withdraw_cash_amount =  #{withdrawCashAmount}
		</if>
				<if test="refuseDay != null" >
		    and refuse_day =  #{refuseDay}
		</if>
				<if test="createTime != null" >
		    and create_time =  #{createTime}
		</if>
				<if test="updateTime != null" >
		    and update_time =  #{updateTime}
		</if>
				<if test="userinfoVerifyDay != null" >
		    and userinfo_verify_day =  #{userinfoVerifyDay}
		</if>
				<if test="mobileVerifyDay != null" >
		    and mobile_verify_day =  #{mobileVerifyDay}
		</if>
		</trim>
	</sql>
	
	<!-- 插入系统参数 -->
	<insert id="insert" parameterType="com.zhiwang.zfm.entity.sys.SysParameter" >
	  insert into sys_parameter(id,withdraw_cash_amount,refuse_day,create_time,update_time,userinfo_verify_day,mobile_verify_day)
 values(#{id},#{withdrawCashAmount},#{refuseDay},#{createTime},#{updateTime},#{userinfoVerifyDay},#{mobileVerifyDay})
	</insert>
	
	<!-- 修改系统参数-->  
	 <update id="update" parameterType="com.zhiwang.zfm.entity.sys.SysParameter" >
	  update sys_parameter set withdraw_cash_amount=#{withdrawCashAmount},refuse_day=#{refuseDay},create_time=#{createTime},update_time=#{updateTime},userinfo_verify_day=#{userinfoVerifyDay},mobile_verify_day=#{mobileVerifyDay} where id=#{id}
	 </update>
	 
	 <!-- 选择修改系统参数-->
	<update id="updateBySelective" parameterType="com.zhiwang.zfm.entity.sys.SysParameter" >
		update sys_parameter set 
	<trim  suffixOverrides="," >
	<if test="withdrawCashAmount != null  ">
		withdraw_cash_amount=#{withdrawCashAmount},
	</if>
	<if test="refuseDay != null  ">
		refuse_day=#{refuseDay},
	</if>
	<if test="createTime != null  ">
		create_time=#{createTime},
	</if>
	<if test="updateTime != null  ">
		update_time=#{updateTime},
	</if>
	<if test="userinfoVerifyDay != null  ">
		userinfo_verify_day=#{userinfoVerifyDay},
	</if>
	<if test="mobileVerifyDay != null  ">
		mobile_verify_day=#{mobileVerifyDay},
	</if>
	</trim> where id=#{id}
	</update>
	
	<!-- 删除系统参数 -->
	<update id="delete" parameterType="Object">
		delete 	 from sys_parameter where id = #{id}
	</update>
	
	<!-- 批量删除系统参数 -->
	<delete id="batchDelete" parameterType="Object">
		delete 	 from sys_parameter where id in 
		<foreach collection="array" index="index" item="item" open="(" separator="," close=")">  
	       	#{item}  
	   	</foreach> 
	</delete>
	 
	<!-- 依据主键查找系统参数 -->
	<select id="selectById" resultMap="BaseResultMap" >
		select <include refid="Base_Column_List" /> 
	 from sys_parameter where id = #{id}
	</select>
	  	
	<!-- 系统参数 列表总数  为分页组件使用-->
	<select id="pageTotalRecord" resultType="java.lang.Long" parameterType="com.zhiwang.zfm.entity.sys.query.SysParameterSearchForm">
		select count(1) from sys_parameter 
		<include refid="where_Clause"/>
	</select>
	  	
	<!-- 分页中的系统参数集合，为分页组件使用 -->
	<select id="pageData" resultMap="BaseResultMap" parameterType="com.zhiwang.zfm.entity.sys.query.SysParameterSearchForm">
		select 
		<include refid="Base_Column_List"/>
		from sys_parameter 
		<include refid="where_Clause"/>
		<if test="orderCondition != null and orderCondition != ''" >
	      ${orderCondition}
	    </if>
	    ${queryCondition}
	</select>
	
	<!--依据条件统计 系统参数总数-->
	<select id="count" resultType="java.lang.Long" parameterType="com.zhiwang.zfm.entity.sys.query.SysParameterSearchForm">
		select count(1) from sys_parameter 
		<include refid="where_Clause"/>
	</select>
  	
  	<select id="queryNew" resultType="com.zhiwang.zfm.entity.sys.SysParameter">
		select * from sys_parameter s  ORDER BY  s.update_time desc LIMIT 1
	</select>
  	
</mapper>   
