<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiwang.zfm.dao.sys.UserMapper" > 

	<!-- Result Map-->
	<resultMap id="BaseResultMap" type="com.zhiwang.zfm.entity.sys.User" >
			<result column="id" property="id"/>
			<result column="name" property="name"/>
			<result column="login_name" property="loginName"/>
			<result column="password" property="password"/>
			<result column="status" property="status"/>
			<result column="del_status" property="delStatus"/>
			<result column="create_time" property="createTime"/>
			<result column="remark" property="remark"/>
		</resultMap>
		
		<select id="sqlQuery" parameterType="com.nyd.zeus.model.common.SqlSearchForm" resultType="com.alibaba.fastjson.JSONObject">
	         <![CDATA[
          			 ${queryValide}
        	]]>
	</select>
	<select id="sqlCount" parameterType="com.nyd.zeus.model.common.SqlSearchForm" resultType="java.lang.Long">
	        <![CDATA[
          			 SELECT count(1)  FROM (${queryValide}) obj
        	]]>
	</select>
	<select id="sqlPage" parameterType="com.nyd.zeus.model.common.SqlSearchForm" resultType="com.alibaba.fastjson.JSONObject">
	         <![CDATA[
	         		${queryValide}
        	]]>
        	
	</select>
	
	<update id="deleteSql" parameterType="com.nyd.zeus.model.common.SqlSearchForm">
		  <![CDATA[
	         		${queryValide}
        	]]>
	</update>
	
	<insert id="insertSql" parameterType="com.nyd.zeus.model.common.SqlSearchForm">
		  <![CDATA[
	         		${queryValide}
        	]]>
	</insert>
	<insert id="updateSql" parameterType="com.nyd.zeus.model.common.SqlSearchForm">
		  <![CDATA[
	         		${queryValide}
        	]]>
	</insert>
	<select id="sqlSum" parameterType="com.nyd.zeus.model.common.SqlSearchForm" resultType="java.lang.Long">
	        <![CDATA[
          			 ${queryValide}
        	]]>
	</select>
	       
	<!-- sys_user table all fields -->
	<sql id="Base_Column_List" >
		 id,name,login_name,password,status,del_status,create_time,remark
	</sql>
	   
	<!-- 查询条件 -->
	<sql id="where_Clause">
	where 1=1
	<trim  suffixOverrides="," >
				 		<if test="id != null and id != ''" >
		    and id =  #{id}
		</if>
				 		<if test="name != null and name != ''" >
		    and name =  #{name}
		</if>
				 		<if test="loginName != null and loginName != ''" >
		    and login_name =  #{loginName}
		</if>
				 		<if test="likeLoginName != null and likeLoginName != ''" >
		    and login_name like CONCAT('%',#{likeLoginName},'%') 
		</if>
				 		<if test="password != null and password != ''" >
		    and password =  #{password}
		</if>
				<if test="status != null" >
		    and status =  #{status}
		</if>
				<if test="delStatus != null" >
		    and del_status =  #{delStatus}
		</if>
				<if test="createTime != null" >
		    and create_time =  #{createTime}
		</if>
				 		<if test="remark != null and remark != ''" >
		    and remark =  #{remark}
		</if>
		</trim>
	</sql>
	
	<!-- 插入后台用户 -->
	<insert id="insert" parameterType="com.zhiwang.zfm.entity.sys.User" >
	  insert into sys_user(id,name,login_name,password,status,del_status,create_time,remark)
 values(#{id},#{name},#{loginName},#{password},#{status},#{delStatus},#{createTime},#{remark})
	</insert>
	
	<!-- 修改后台用户-->  
	 <update id="update" parameterType="com.zhiwang.zfm.entity.sys.User" >
	  update sys_user set name=#{name},login_name=#{loginName},password=#{password},status=#{status},del_status=#{delStatus},create_time=#{createTime},remark=#{remark} where id=#{id}
	 </update>
	 
	 <!-- 选择修改后台用户-->
	<update id="updateBySelective" parameterType="com.zhiwang.zfm.entity.sys.User" >
		update sys_user set 
	<trim  suffixOverrides="," >
	<if test="name != null  and name != '' ">
		name=#{name},
	</if>
	<if test="loginName != null  and loginName != '' ">
		login_name=#{loginName},
	</if>
	<if test="password != null  and password != '' ">
		password=#{password},
	</if>
	<if test="status != null  ">
		status=#{status},
	</if>
	<if test="delStatus != null  ">
		del_status=#{delStatus},
	</if>
	<if test="createTime != null  ">
		create_time=#{createTime},
	</if>
	<if test="remark != null  and remark != '' ">
		remark=#{remark},
	</if>
	</trim> where id=#{id}
	</update>
	
	<!-- 删除后台用户 -->
	<update id="delete" parameterType="Object">
		delete 	 from sys_user where id = #{id}
	</update>
	
	<!-- 批量删除后台用户 -->
	<delete id="batchDelete" parameterType="Object">
		delete 	 from sys_user where id in 
		<foreach collection="array" index="index" item="item" open="(" separator="," close=")">  
	       	#{item}  
	   	</foreach> 
	</delete>
	 
	<!-- 依据主键查找后台用户 -->
	<select id="selectById" resultMap="BaseResultMap" >
		select <include refid="Base_Column_List" /> 
	 from sys_user where id = #{id}
	</select>
	  	
	<!-- 后台用户 列表总数  为分页组件使用-->
	<select id="pageTotalRecord" resultType="java.lang.Long" parameterType="com.zhiwang.zfm.entity.sys.query.UserSearchForm">
		select count(1) from sys_user 
		<include refid="where_Clause"/>
	</select>
	  	
	<!-- 分页中的后台用户集合，为分页组件使用 -->
	<select id="pageData" resultMap="BaseResultMap" parameterType="com.zhiwang.zfm.entity.sys.query.UserSearchForm">
		select 
		<include refid="Base_Column_List"/>
		from sys_user 
		<include refid="where_Clause"/>
		<if test="orderCondition != null and orderCondition != ''" >
	      ${orderCondition}
	    </if>
	    ${queryCondition}
	</select>
	
	<!--依据条件统计 后台用户总数-->
	<select id="count" resultType="java.lang.Long" parameterType="com.zhiwang.zfm.entity.sys.query.UserSearchForm">
		select count(1) from sys_user 
		<include refid="where_Clause"/>
	</select>
	
	<!-- 通过角色名称查询相关信息 -->
	<select id="getRoleAndLogin" resultType="com.alibaba.fastjson.JSONObject" parameterType="com.zhiwang.zfm.entity.sys.query.RoleAndUserForm">
		SELECT
			su.id userId,
			su.login_name userName,
			sr.id roleId,
			sr.name roleName
		FROM
			sys_user su,
			sys_user_role sur,
			sys_role sr
		WHERE
			su.id = sur.user_id
		AND sur.role_id = sr.id
		and su.status=1 and su.del_status=1 
		<if test="userId != null" >
		    and su.id =  #{userId}
		</if>
		<if test="userName != null" >
		   and su.login_name =  #{userName}
		</if>
		<if test="roleId != null" >
		   and sr.id =  #{roleId}
		</if>
		<if test="roleName != null" >
		  and sr.name =  #{roleName}
		</if>
		<if test="ignoreUserIdList!=null and ignoreUserIdList.size()>0">
		  and su.id not in 
			<foreach collection="ignoreUserIdList" index="index" item="item" open="(" separator="," close=")">  
		       	#{item}  
		   	</foreach> 
		</if>
	</select>
  	
  	<!-- 通过角色名称查询相关信息 -->
	<select id="getUrgeEmpListByCompId" resultType="com.alibaba.fastjson.JSONObject" parameterType="list">
		SELECT su.* from sys_company_user scu,sys_user su where scu.user_id=su.id and su.del_status=1  and  scu.company_id=#{0};
	</select>
  	
  	
  	<select id="getUserByUserId"  parameterType="list">
  	   select * from zfm_db.sys_user where 
  	   ID IN
  	    <foreach item="item" index="index" collection="users" open="(" separator="," close=")">
        #{item}
      </foreach>
  	
  	</select>
  	
  	<select id="getUserList" resultType="com.alibaba.fastjson.JSONObject" >
		select USER_ID as userId,b.LOGIN_NAME as userName from sys_user_role a INNER JOIN
			sys_user b  on a.USER_ID = b.ID
		where role_id = '5' and DEL_STATUS = 1 and status = 1
	</select>
	<!-- 查询启用中的信审专员信息 -->
	<select id="getCreditUser" resultType="com.zhiwang.zfm.common.response.bean.sys.CreditUserVo" >
		select u.ID as sysUserId, u.LOGIN_NAME as loginName, u.STATUS, r.name as roleName from sys_user u
		INNER JOIN sys_user_role s ON s.USER_ID = u.ID
		INNER JOIN sys_role r ON r.ID = s.ROLE_ID
		WHERE r.`NAME`='信审专员' AND u.`STATUS`=1
	</select>
</mapper>   
