<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiwang.zfm.dao.sys.UserRoleMapper" > 

	<!-- Result Map-->
	<resultMap id="BaseResultMap" type="com.zhiwang.zfm.entity.sys.UserRole" >
			<result column="id" property="id"/>
			<result column="user_id" property="userId"/>
			<result column="role_id" property="roleId"/>
			<result column="create_time" property="createTime"/>
		</resultMap>
	       
	<!-- sys_user_role table all fields -->
	<sql id="Base_Column_List" >
		 id,user_id,role_id,create_time
	</sql>
	   
	<!-- 查询条件 -->
	<sql id="where_Clause">
	where 1=1
	<trim  suffixOverrides="," >
				 		<if test="id != null and id != ''" >
		    and id =  #{id}
		</if>
				 		<if test="userId != null and userId != ''" >
		    and user_id =  #{userId}
		</if>
				 		<if test="roleId != null and roleId != ''" >
		    and role_id =  #{roleId}
		</if>
				<if test="createTime != null" >
		    and create_time =  #{createTime}
		</if>
		</trim>
	</sql>
	
	<!-- 插入用户角色关系 -->
	<insert id="insert" parameterType="com.zhiwang.zfm.entity.sys.UserRole" >
	  insert into sys_user_role(id,user_id,role_id,create_time)
 values(#{id},#{userId},#{roleId},#{createTime})
	</insert>
	
	<!-- 修改用户角色关系-->  
	 <update id="update" parameterType="com.zhiwang.zfm.entity.sys.UserRole" >
	  update sys_user_role set user_id=#{userId},role_id=#{roleId},create_time=#{createTime} where id=#{id}
	 </update>
	 
	 <!-- 选择修改用户角色关系-->
	<update id="updateBySelective" parameterType="com.zhiwang.zfm.entity.sys.UserRole" >
		update sys_user_role set 
	<trim  suffixOverrides="," >
	<if test="userId != null  and userId != '' ">
		user_id=#{userId},
	</if>
	<if test="roleId != null  and roleId != '' ">
		role_id=#{roleId},
	</if>
	<if test="createTime != null  ">
		create_time=#{createTime},
	</if>
	</trim> where id=#{id}
	</update>
	
	<!-- 删除用户角色关系 -->
	<update id="delete" parameterType="Object">
		delete 	 from sys_user_role where id = #{id}
	</update>
	
	<!-- 批量删除用户角色关系 -->
	<delete id="batchDelete" parameterType="Object">
		delete 	 from sys_user_role where id in 
		<foreach collection="array" index="index" item="item" open="(" separator="," close=")">  
	       	#{item}  
	   	</foreach> 
	</delete>
	 
	<!-- 依据主键查找用户角色关系 -->
	<select id="selectById" resultMap="BaseResultMap" >
		select <include refid="Base_Column_List" /> 
	 from sys_user_role where id = #{id}
	</select>
	  	
	<!-- 用户角色关系 列表总数  为分页组件使用-->
	<select id="pageTotalRecord" resultType="java.lang.Long" parameterType="com.zhiwang.zfm.entity.sys.query.UserRoleSearchForm">
		select count(1) from sys_user_role 
		<include refid="where_Clause"/>
	</select>
	  	
	<!-- 分页中的用户角色关系集合，为分页组件使用 -->
	<select id="pageData" resultMap="BaseResultMap" parameterType="com.zhiwang.zfm.entity.sys.query.UserRoleSearchForm">
		select 
		<include refid="Base_Column_List"/>
		from sys_user_role 
		<include refid="where_Clause"/>
		<if test="orderCondition != null and orderCondition != ''" >
	      ${orderCondition}
	    </if>
	    ${queryCondition}
	</select>
	
	<!--依据条件统计 用户角色关系总数-->
	<select id="count" resultType="java.lang.Long" parameterType="com.zhiwang.zfm.entity.sys.query.UserRoleSearchForm">
		select count(1) from sys_user_role 
		<include refid="where_Clause"/>
	</select>
	
</mapper>   
