<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nyd.settlement.dao.mapper.YmtRefundMapper">
    <resultMap id="BaseResultMap" type="com.nyd.settlement.model.po.YmtRefundPo">
        <result column="user_id" jdbcType="VARCHAR" property="userId" />
        <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
        <result column="product_type" jdbcType="INTEGER" property="productType" />
        <result column="test_status" jdbcType="INTEGER" property="testStatus" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="mobile" jdbcType="VARCHAR" property="mobile" />
        <result column="refund_type" jdbcType="INTEGER" property="refundType" />
        <result column="refund_amount" jdbcType="DECIMAL" property="refundAmount" />
        <result column="refund_channel" jdbcType="VARCHAR" property="refundChannel" />
        <result column="refund_time" jdbcType="TIMESTAMP" property="refundTime" />
        <result column="refund_reason" jdbcType="VARCHAR" property="refundReason" />
        <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
        <result column="refund_fee" jdbcType="DECIMAL" property="refundFee" />
    </resultMap>

    <resultMap id="ResultMap" type="com.nyd.settlement.entity.refund.YmtRefund">
        <result column="id" jdbcType="INTEGER" property="Id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="mobile" jdbcType="VARCHAR" property="mobile" />
        <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
        <result column="refund_type" jdbcType="INTEGER" property="refundType" />
        <result column="refund_amount" jdbcType="DECIMAL" property="refundAmount" />
        <result column="refund_time" jdbcType="TIMESTAMP" property="refundTime" />
        <result column="refund_channel" jdbcType="VARCHAR" property="refundChannel" />
        <result column="refund_flow_no" jdbcType="VARCHAR" property="refundFlowNo" />
        <result column="refund_account" jdbcType="VARCHAR" property="refundAccount" />
        <result column="refund_reason" jdbcType="VARCHAR" property="refundReason" />
        <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
        <result column="delete_flag" jdbcType="TINYINT" property="deleteFlag" />
    </resultMap>



    <!--已退款列表查询-->
    <select id="selectRefundDetail" parameterType="com.nyd.settlement.model.dto.RefundDetailDto" resultMap="BaseResultMap">
        SELECT
        a.product_type ,
        o.app_code ,
        d.test_status ,
        o.user_id ,
        r.order_no ,
        r.name ,
        r.mobile ,
        r.refund_fee,
        r.refund_type ,
        r.refund_amount ,
        r.refund_channel ,
        r.refund_time ,
        r.refund_reason ,
        r.update_by
        FROM
        ibank_zeus.t_refund r,
        ibank_order.t_order_detail o,
        ibank_order.t_order d,
        ibank_finance.t_app_product a
        WHERE
        r.order_no = o.order_no
        AND o.app_code = a.app_code
        AND o.order_no = d.order_no
        AND r.delete_flag = 0
        AND r.refund_type = 2
        AND r.refund_status =1
        AND o.delete_flag = 0
        AND d.delete_flag = 0
        AND a.delete_flag = 0

        <if test="mobile != null and mobile != '' ">
            AND r.mobile = #{mobile}
        </if>
        <if test="orderNo != null and orderNo != ''">
            AND r.order_no = #{orderNo}
        </if>
        <if test="startDate != null">
            AND r.refund_time &gt;= CONCAT(#{startDate}," 00:00:00")
        </if>
        <if test="endDate != null">
            AND r.refund_time &lt;= CONCAT(#{endDate}," 23:59:59")
        </if>
    </select>

    <!--退款记录保存-->
    <insert id="saveRecommendRefund" parameterType="com.nyd.settlement.entity.refund.YmtRefund" >
        insert into t_refund ( name, mobile,
        order_no, refund_type, refund_amount,
        refund_time, refund_channel, refund_flow_no,
        refund_account,refund_fee, refund_reason,refund_status  )
        values (#{name,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR},
        #{orderNo,jdbcType=VARCHAR}, #{refundType,jdbcType=INTEGER}, #{refundAmount,jdbcType=DECIMAL},
        #{refundTime,jdbcType=TIMESTAMP}, #{refundChannel,jdbcType=VARCHAR}, #{refundFlowNo,jdbcType=VARCHAR},
        #{refundAccount,jdbcType=VARCHAR}, #{refundFee,jdbcType=DECIMAL},#{refundReason,jdbcType=VARCHAR},#{refundStatus,jdbcType=INTEGER})
    </insert>


    <!--根据退款流水号查找-->
    <select id="selectByRefundFlowNo" parameterType="java.lang.String" resultMap="ResultMap">
        select
        *
        from ibank_zeus.t_refund
        where refund_flow_no = #{repayNo, jdbcType=VARCHAR} AND  refund_status = 1
    </select>

</mapper>