<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nyd.capital.dao.mappers.TFailorderKzjrMapper">
  <resultMap id="BaseResultMap" type="com.nyd.capital.entity.FailOrderKzjr">
  <id column="id" jdbcType="BIGINT" property="id" />
  <result column="account_id" jdbcType="VARCHAR" property="accountId" />
  <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
  <result column="amount" jdbcType="DECIMAL" property="amount" />
  <result column="duration" jdbcType="INTEGER" property="duration" />
  <result column="reason" jdbcType="INTEGER" property="reason" />
  <result column="channel" jdbcType="INTEGER" property="channel" />
  <result column="description" jdbcType="VARCHAR" property="description" />
  <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
</resultMap>
  <sql id="Base_Column_List">
    id, account_id, order_no, amount, duration, reason, description, create_time, update_time
  </sql>

  <select id="queryByTime" parameterType="com.nyd.capital.entity.TimeRangeVo" resultMap="BaseResultMap">
    select
    id,account_id,order_no,amount,duration,reason,description,channel
    from t_failorder_kzjr
    where 1=1
    <if test="startDate != null">
      AND create_time &gt;= #{startDate,jdbcType=TIMESTAMP}
    </if>
    <if test="endDate != null">
      AND create_time &lt;= #{endDate,jdbcType=TIMESTAMP}
    </if>
  </select>


</mapper>