<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nyd.capital.dao.mappers.FundMapper">
  <resultMap id="BaseResultMap" type="com.nyd.capital.entity.Fund">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="fund_name" jdbcType="CHAR" property="fundName" />
    <result column="fund_code" jdbcType="CHAR" property="fundCode" />
    <result column="interest_rate" jdbcType="DECIMAL" property="interestRate" />
    <result column="remit_start_time" jdbcType="TIME" property="remitStartTime" />
    <result column="remit_end_time" jdbcType="TIME" property="remitEndTime" />
    <result column="max_remit_amount" jdbcType="DECIMAL" property="maxRemitAmount" />
    <result column="pay_channel" jdbcType="VARCHAR" property="payChannel" />
    <result column="pay_channel_fee_per_item" jdbcType="DECIMAL" property="payChannelFeePerItem" />
    <result column="fund_service_interest_rate" jdbcType="DECIMAL" property="fundServiceInterestRate" />
    <result column="is_in_use" jdbcType="TINYINT" property="isInUse" />
    <result column="pad_fund_service_interest_rate" jdbcType="DECIMAL" property="padFundServiceInterestRate" />
    <result column="delete_flag" jdbcType="TINYINT" property="deleteFlag" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
  </resultMap>
  <sql id="Base_Column_List">
    id, fund_name, fund_code, interest_rate, remit_start_time, remit_end_time, max_remit_amount, 
    pay_channel, pay_channel_fee_per_item, fund_service_interest_rate, is_in_use, pad_fund_service_interest_rate, 
    delete_flag, create_time, update_time, update_by
  </sql>
  <select id="findList" parameterType="com.nyd.capital.entity.Fund" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_fund
    WHERE  is_in_use = #{isInUse,jdbcType=TINYINT} AND delete_flag = #{deleteFlag,jdbcType=TINYINT}
  </select>

</mapper>