<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nyd.admin.dao.mapper.FailReportMapper">
    <resultMap id="BaseResultMap" type="com.nyd.admin.entity.FailReport">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="report_date" jdbcType="DATE" property="reportDate" />
        <result column="fail_reason" jdbcType="CHAR" property="failReason" />
        <result column="sum_number" jdbcType="BIGINT" property="sumNumber" />
        <result column="proportion" jdbcType="DECIMAL" property="proportion" />
    </resultMap>

    <select id="findList" parameterType="java.util.Map" resultMap="BaseResultMap">
        SELECT
            `report_date`,
            `fail_reason`,
            `sum_number`,
            `proportion`
        FROM
            t_fail_report
        WHERE 1=1
        <if test="startDate != null">
            AND `report_date` &gt;= #{startDate,jdbcType=DATE}
        </if>
        <if test="endDate != null">
            AND `report_date` &lt;= #{endDate,jdbcType=DATE}
        </if>
    </select>
</mapper>
