<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nyd.admin.dao.mapper.PowerMapper">
    <resultMap id="resourceResult" type="com.nyd.admin.model.power.UserPowerInfo">
        <id column="power_id" jdbcType="BIGINT" property="powerId"/>
        <id column="pid" jdbcType="BIGINT" property="pid"/>
        <result column="power_name" jdbcType="CHAR" property="powerName"/>
        <result column="power_key" jdbcType="CHAR" property="powerKey"/>
        <result column="power_url" jdbcType="CHAR" property="powerUrl"/>
        <result column="jmp" jdbcType="INTEGER" property="jmp"/>
    </resultMap>

    <select id="queryPower" resultMap="resourceResult">
        SELECT
        id as powerId,
        pid,
        power_name,
        power_key,
        power_url,
        jmp
        FROM
	    t_power
        WHERE
        `delete_flag` = 0
    </select>


    <select id="getPid" resultType="java.lang.Integer" parameterType="java.util.List">
        SELECT
        pid
        FROM
        t_power
        WHERE
        `delete_flag` = 0
        AND
        id IN
        <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
</mapper>
