<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nyd.admin.dao.mapper.ProductMapper">
  <resultMap id="BaseResultMap" type="com.nyd.admin.entity.Product">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="product_code" jdbcType="CHAR" property="productCode" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="action_description" jdbcType="VARCHAR" property="actionDescription" />
    <result column="product_type" jdbcType="TINYINT" property="productType" />
    <result column="product_periods" jdbcType="INTEGER" property="productPeriods" />
    <result column="max_credit" jdbcType="DECIMAL" property="maxCredit" />
    <result column="interest_rate" jdbcType="DECIMAL" property="interestRate" />
    <result column="min_principal" jdbcType="DECIMAL" property="minPrincipal" />
    <result column="max_principal" jdbcType="DECIMAL" property="maxPrincipal" />
    <result column="principal_step" jdbcType="DECIMAL" property="principalStep" />
    <result column="min_loan_day" jdbcType="INTEGER" property="minLoanDay" />
    <result column="max_loan_day" jdbcType="INTEGER" property="maxLoanDay" />
    <result column="loan_day_step" jdbcType="SMALLINT" property="loanDayStep" />
    <result column="fund_code" jdbcType="VARCHAR" property="fundCode" />
    <result column="business" jdbcType="VARCHAR" property="business" />
    <result column="file_url" jdbcType="VARCHAR" property="fileUrl" />
    <result column="link_url" jdbcType="VARCHAR" property="linkUrl" />
    <result column="link_key" jdbcType="VARCHAR" property="linkKey" />
    <result column="recommend_flag" jdbcType="VARCHAR" property="recommendFlag" />
    <result column="is_in_use" jdbcType="TINYINT" property="isInUse" />
    <result column="delete_flag" jdbcType="TINYINT" property="deleteFlag" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
  </resultMap>
  <sql id="Base_Column_List">
    id, product_code, product_name, action_description, product_type, product_periods, 
    max_credit, interest_rate, min_principal, max_principal, principal_step, min_loan_day, 
    max_loan_day, loan_day_step, fund_code, business, file_url, link_url, link_key, recommend_flag, 
    is_in_use, delete_flag, create_time, update_time, update_by
  </sql>

  <select id="findList" parameterType="com.nyd.admin.entity.Product" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_product
    where 1=1
    <if test="productCode != null">
      AND product_code = #{productCode,jdbcType=VARCHAR}
    </if>
    <if test="productName != null">
      AND product_name = #{productName,jdbcType=VARCHAR}
    </if>
    <if test="business != null">
      AND business = #{business,jdbcType=VARCHAR}
    </if>
    <if test="startDate != null">
      AND create_time &gt;= #{startDate}
    </if>
    <if test="endDate != null">
      AND create_time &lt;= #{endDate}
    </if>
  </select>

  <select id="select" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_product
    where product_code = #{productCode,jdbcType=VARCHAR}
  </select>

  <insert id="insert" parameterType="com.nyd.admin.entity.Product">
    insert into t_product (product_code, product_name,
      action_description, product_type, product_periods, 
      max_credit, interest_rate, min_principal, 
      max_principal, principal_step, min_loan_day, 
      max_loan_day, loan_day_step, fund_code, 
      business, file_url, link_url, 
      link_key, recommend_flag, is_in_use)
    values (#{productCode,jdbcType=CHAR}, #{productName,jdbcType=VARCHAR},
      #{actionDescription,jdbcType=VARCHAR}, #{productType,jdbcType=TINYINT}, #{productPeriods,jdbcType=INTEGER}, 
      #{maxCredit,jdbcType=DECIMAL}, #{interestRate,jdbcType=DECIMAL}, #{minPrincipal,jdbcType=DECIMAL}, 
      #{maxPrincipal,jdbcType=DECIMAL}, #{principalStep,jdbcType=DECIMAL}, #{minLoanDay,jdbcType=INTEGER}, 
      #{maxLoanDay,jdbcType=INTEGER}, #{loanDayStep,jdbcType=SMALLINT}, #{fundCode,jdbcType=VARCHAR}, 
      #{business,jdbcType=VARCHAR}, #{fileUrl,jdbcType=VARCHAR}, #{linkUrl,jdbcType=VARCHAR}, 
      #{linkKey,jdbcType=VARCHAR}, #{recommendFlag,jdbcType=VARCHAR}, #{isInUse,jdbcType=TINYINT})
  </insert>

  <update id="update" parameterType="com.nyd.admin.entity.Product">
    update t_product
    <set>
      <if test="productName != null">
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="actionDescription != null">
        action_description = #{actionDescription,jdbcType=VARCHAR},
      </if>
      <if test="productType != null">
        product_type = #{productType,jdbcType=TINYINT},
      </if>
      <if test="productPeriods != null">
        product_periods = #{productPeriods,jdbcType=INTEGER},
      </if>
      <if test="maxCredit != null">
        max_credit = #{maxCredit,jdbcType=DECIMAL},
      </if>
      <if test="interestRate != null">
        interest_rate = #{interestRate,jdbcType=DECIMAL},
      </if>
      <if test="minPrincipal != null">
        min_principal = #{minPrincipal,jdbcType=DECIMAL},
      </if>
      <if test="maxPrincipal != null">
        max_principal = #{maxPrincipal,jdbcType=DECIMAL},
      </if>
      <if test="principalStep != null">
        principal_step = #{principalStep,jdbcType=DECIMAL},
      </if>
      <if test="minLoanDay != null">
        min_loan_day = #{minLoanDay,jdbcType=INTEGER},
      </if>
      <if test="maxLoanDay != null">
        max_loan_day = #{maxLoanDay,jdbcType=INTEGER},
      </if>
      <if test="loanDayStep != null">
        loan_day_step = #{loanDayStep,jdbcType=SMALLINT},
      </if>
      <if test="fundCode != null">
        fund_code = #{fundCode,jdbcType=VARCHAR},
      </if>
      <if test="business != null">
        business = #{business,jdbcType=VARCHAR},
      </if>
      <if test="fileUrl != null">
        file_url = #{fileUrl,jdbcType=VARCHAR},
      </if>
      <if test="linkUrl != null">
        link_url = #{linkUrl,jdbcType=VARCHAR},
      </if>
      <if test="linkKey != null">
        link_key = #{linkKey,jdbcType=VARCHAR},
      </if>
      <if test="recommendFlag != null">
        recommend_flag = #{recommendFlag,jdbcType=VARCHAR},
      </if>
      <if test="isInUse != null">
        is_in_use = #{isInUse,jdbcType=TINYINT},
      </if>
    </set>
    where product_code = #{productCode,jdbcType=VARCHAR}
  </update>

</mapper>