<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nyd.admin.dao.mapper.ResourceRatioMapper">
    <resultMap type="com.nyd.admin.model.ResourceRatioVo" id="resourceResult">
        <result property="sum_register" column="sumRegister"/>
        <result property="source" column="source"/>
    </resultMap>

    <select id="findList" resultMap="resourceResult" >
        SELECT
        SUM(register_count) AS  sum_register,
        source
        FROM
        t_transform_report
        WHERE 1=1
        GROUP BY source
    </select>
</mapper>