<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nyd.admin.dao.mapper.TransformReportMapper">
    <resultMap id="BaseResultMap" type="com.nyd.admin.entity.TransformReport">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="report_date" jdbcType="DATE" property="reportDate"/>
        <result column="click_count" jdbcType="BIGINT" property="clickCount"/>
        <result column="register_count" jdbcType="BIGINT" property="registerCount"/>
        <result column="loan_count" jdbcType="BIGINT" property="loanCount"/>
        <result column="grant_count" jdbcType="BIGINT" property="grantCount"/>
        <result column="register_rate" jdbcType="DECIMAL" property="registerRate"/>
        <result column="loan_rate" jdbcType="DECIMAL" property="loanRate"/>
        <result column="pass_rate" jdbcType="DECIMAL" property="passRate"/>
        <result column="source" jdbcType="VARCHAR" property="source"/>
    </resultMap>

    <resultMap id="resourceResult" type="com.nyd.admin.model.TransformChartVo">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="report_date" jdbcType="DATE" property="reportDate"/>
        <result column="register_count" jdbcType="BIGINT" property="registerCount"/>
        <result column="loan_count" jdbcType="BIGINT" property="loanCount"/>
        <result column="grant_count" jdbcType="BIGINT" property="grantCount"/>
        <result column="loan_rate" jdbcType="DECIMAL" property="loanRate"/>
        <result column="pass_rate" jdbcType="DECIMAL" property="passRate"/>
    </resultMap>

    <select id="findList" parameterType="com.nyd.admin.entity.TransformReport" resultMap="BaseResultMap">
        SELECT
        `report_date`,
        `click_count`,
        `register_count`,
        `loan_count`,
        `grant_count`,
        `register_rate`,
        `loan_rate`,
        `pass_rate`,
        `source`
        FROM
        t_transform_report
        WHERE 1=1
        <if test="startDate != null">
            AND `report_date` &gt;= #{startDate,jdbcType=DATE}
        </if>
        <if test="endDate != null">
            AND `report_date` &lt;= #{endDate,jdbcType=DATE}
        </if>
        <if test="source != null">
            AND source like concat('%',#{source},'%')
        </if>
    </select>

    <select id="findForChart" resultMap="resourceResult">
        SELECT
        `report_date`,
        sum(`register_count`) as register_count,
        sum(`loan_count`) as loan_count,
        sum(`grant_count`) as grant_count,
        sum(`loan_count`)/ sum(`register_count`) * 100 as `loan_rate`,
        sum(`grant_count`)/ sum(`loan_count`) * 100 as `pass_rate`
        FROM
        t_transform_report
        WHERE 1=1
        <if test="startDate != null">
            AND `report_date` &gt;= #{startDate,jdbcType=DATE}
        </if>
        <if test="endDate != null">
            AND `report_date` &lt;= #{endDate,jdbcType=DATE}
        </if>
        <if test="source != null">
            AND source like concat('%',#{source},'%')
        </if>
        GROUP  BY report_date
    </select>
</mapper>
