<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nyd.admin.dao.mapper.CollectionUserMapper">

    <select id="queryAllCollectionUser" parameterType="com.nyd.admin.model.dto.CollectionUserInfoDto" resultType="com.nyd.admin.model.CollectionUserInfoVo">
        SELECT
            u.id,
            u.user_name     userName,
            u.account_no    accountNo,
            u.email         email,
            u.user_type     userType,
            DATE_FORMAT(u.create_time,'%Y-%m-%d %H:%i:%S')   createTime,
            u.contact_phone contactPhone,
            u.tel_num       telNum,
            c.id            companyId,
            c.company_name  companyName,
            c.company_type  companyType,
            g.id            groupId,
            g.group_name    groupName,
            u.delete_flag   deleteFlag,
            u.disabled_flag disabledFlag
        FROM t_user_info u
        INNER JOIN t_user_role_rel ur ON u.id = ur.user_id
        INNER JOIN t_role r on ur.role_id = r.id
        LEFT JOIN t_collection_group_info g ON g.id = u.group_id
        LEFT JOIN t_collection_company_info c ON c.id = g.company_id
        WHERE 1=1
            <if test="userName!=null and userName!=''">
                AND u.user_name LIKE CONCAT('%',#{userName},'%')
            </if>
            <if test="contactPhone!=null and contactPhone!=''">
                AND u.contact_phone LIKE CONCAT('%',#{contactPhone},'%')
            </if>
            <if test="accountNo!=null and accountNo!=''">
                AND u.account_no LIKE CONCAT('%',#{accountNo},'%')
            </if>
            <if test="telNum!=null and telNum!=''">
                AND u.tel_num LIKE CONCAT('%',#{#{telNum}},'%')
            </if>
            <if test="userType!=null and userType!=''">
                AND u.user_type = #{userType}
            </if>
            <if test="companyId!=null and companyId!=''">
                AND c.id = #{companyId}
            </if>
            <if test="companyName!=null and companyName!=''">
                AND c.company_name LIKE CONCAT('%',#{companyName},'%')
            </if>
            <if test="companyType!=null and companyType!=''">
                AND c.company_type LIKE CONCAT('%',#{companyType},'%')
            </if>
            <if test="groupId!=null and groupId!=''">
                AND g.id = #{groupId}
            </if>
            <if test="groupName!=null and groupName!=''">
                AND g.group_name LIKE CONCAT('%',#{groupName},'%')
            </if>
            <if test="disabledFlag!=null">
                AND u.disabled_flag = #{disabledFlag}
            </if>
            <if test="deleteFlag!=null">
                AND u.delete_flag = #{deleteFlag}
            </if>
            AND r.role_name = '催收人员'
        ORDER BY c.id DESC, g.id DESC, u.create_time DESC

    </select>

    <select id="queryCollectionUserByGroupId" parameterType="java.util.List" resultType="com.nyd.admin.model.CollectionUserInfoVo">
        SELECT
        u.id,
        u.user_name     userName,
        u.account_no    accountNo,
        u.email         email,
        u.user_type     userType,
        DATE_FORMAT(u.create_time,'%Y-%m-%d %H:%i:%S')   createTime,
        u.contact_phone contactPhone,
        u.tel_num       telNum,
        c.id            companyId,
        c.company_name  companyName,
        c.company_type  companyType,
        g.id            groupId,
        g.group_name    groupName,
        u.delete_flag   deleteFlag,
        u.disabled_flag disabledFlag
        FROM t_user_info u
        LEFT JOIN t_collection_group_info g ON g.id = u.group_id
        LEFT JOIN t_collection_company_info c ON c.id = g.company_id
        WHERE 1=1
          <if test="deleteFlag!=null">
              AND u.delete_flag = #{deleteFlag}
          </if>
          <if test="disabledFlag!=null">
              AND u.disabled_flag = #{disabledFlag}
          </if>
          AND u.group_id in
          <foreach collection="groupIdList" index="index" item="groupId" open="(" separator="," close=")">
              #{groupId}
          </foreach>
        ORDER BY c.id DESC, g.id DESC, u.create_time DESC
    </select>

    <update id="updateCollectionUser" parameterType="com.nyd.admin.model.dto.CollectionUserInfoDto">
        UPDATE t_user_info
        <trim prefix="set" suffixOverrides=",">
            <if test="userName!=null">user_name=#{userName},</if>
            <if test="contactPhone!=null">contact_phone=#{contactPhone},</if>
            <if test="groupId!=null">group_id=#{groupId},</if>
            <if test="disabledFlag!=null">disabled_flag=#{disabledFlag},</if>
            <if test="deleteFlag!=null">
                delete_flag=#{deleteFlag},
                <if test="deleteFlag==1">
                    disabled_flag=1,
                </if>
            </if>
            <if test="telNum!=null">tel_num=#{telNum},</if>
        </trim>
        WHERE id=#{id}
    </update>

    <update id="deleteCollectionUserByGroupId" parameterType="com.nyd.admin.model.dto.CollectionUserInfoDto">
        UPDATE t_user_info
        SET delete_flag = 1,disabled_flag = 1
        WHERE group_id = #{groupId}
    </update>

</mapper>
