<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nyd.admin.dao.mapper.RoleMapper">
    <resultMap id="BaseResultMap" type="com.nyd.admin.entity.power.Role">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="role_name" jdbcType="VARCHAR" property="roleName"/>
        <result column="delete_flag" jdbcType="TINYINT" property="deleteFlag"/>
        <result column="create_time" jdbcType="DATE" property="createTime"/>
        <result column="update_time" jdbcType="DATE" property="updateTime"/>
        <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, role_name
    </sql>

    <select id="findList"  parameterType="com.nyd.admin.entity.power.Role" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM
        t_role
        WHERE 1=1
        <if test="roleName != null">
            AND role_name like concat('%',#{roleName},'%')
        </if>
        order  BY create_time desc
    </select>

</mapper>
