<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nyd.admin.dao.mapper.SalesPlatformMapper">

    <!--注册未填写资料-->
    <select id="findRegisterUnfilledData" parameterType="java.util.HashMap" resultType="com.nyd.admin.model.SalesPlatformInfo">
        SELECT
            b.real_name,
            b.gender,
            b.id_number,
            a.user_id,
            a.account_number,
            a.create_time,
            ifnull(d.app_name_value,'侬要贷') as app_name,
            c.os,
            a.source,
            a.last_active_time,
            e.pre_audit_level
        FROM
        xxd_user.t_account a
        LEFT JOIN xxd_user.t_user b ON a.user_id = b.user_id
        LEFT JOIN xxd_user.t_user_source c ON a.account_number = c.account_number
        LEFT JOIN xxd_msg.app_name_config d ON c.app_name = d.app_name_code
        LEFT JOIN xxd_user.t_user_step e ON a.user_id = e.user_id
        WHERE
            a.user_id IS NULL
        AND a.delete_flag = '0'
        <if test="startTime != null and startTime != ''">
            AND a.create_time <![CDATA[ > ]]> #{startTime}
        </if>
        <if test="endTime != null and endTime != ''">
            AND a.create_time <![CDATA[ < ]]> #{endTime}
        </if>
        ORDER BY a.create_time DESC
    </select>
    <!--注册未填写资料个数-->
    <select id="findRegisterUnfilledDataCount" parameterType="java.util.HashMap" resultType="Integer">
        SELECT
            COUNT(0)
        FROM
            xxd_user.t_account a
        LEFT JOIN xxd_user.t_user b ON a.user_id = b.user_id
        LEFT JOIN xxd_user.t_user_source c ON a.account_number = c.account_number
        LEFT JOIN xxd_msg.app_name_config d ON c.app_name = d.app_name_code
        LEFT JOIN xxd_user.t_user_step e ON a.user_id = e.user_id
        WHERE
            a.user_id IS NULL
        AND a.delete_flag = '0'
        <if test="startTime != null and startTime != ''">
            AND a.create_time <![CDATA[ > ]]> #{startTime}
        </if>
        <if test="endTime != null and endTime != ''">
            AND a.create_time <![CDATA[ < ]]> #{endTime}
        </if>
    </select>

    <!--资料填写不完整-->
    <select id="findDataIncomplete" parameterType="java.util.HashMap" resultType="com.nyd.admin.model.SalesPlatformInfo">
        SELECT
        b.real_name,
        b.gender,
        b.id_number,
        a.user_id,
        a.account_number,
        a.create_time,
        ifnull(d.app_name_value,'侬要贷') as app_name,
        c.os,
        a.source,
        a.last_active_time,
        e.pre_audit_level,
        e.identity_flag
        FROM
        xxd_user.t_account a
        LEFT JOIN xxd_user.t_user b ON a.user_id = b.user_id
        LEFT JOIN xxd_user.t_user_source c ON a.account_number = c.account_number
        LEFT JOIN xxd_msg.app_name_config d ON c.app_name = d.app_name_code
        LEFT JOIN xxd_user.t_user_step e ON a.user_id = e.user_id
        LEFT JOIN xxd_user.t_user_detail f ON a.user_id = f.user_id
        WHERE (e.mobile_flag = '0' or f.marital_status='')
        <if test="startTime != null and startTime != ''">
            AND a.create_time <![CDATA[ > ]]> #{startTime}
        </if>
        <if test="endTime != null and endTime != ''">
            AND a.create_time <![CDATA[ < ]]> #{endTime}
        </if>
        ORDER BY a.create_time DESC
    </select>

    <select id="findDataIncompleteCount" parameterType="java.util.HashMap" resultType="Integer">
        SELECT
        COUNT(0)
        FROM
        xxd_user.t_account a
        LEFT JOIN xxd_user.t_user b ON a.user_id = b.user_id
        LEFT JOIN xxd_user.t_user_source c ON a.account_number = c.account_number
        LEFT JOIN xxd_msg.app_name_config d ON c.app_name = d.app_name_code
        LEFT JOIN xxd_user.t_user_step e ON a.user_id = e.user_id
        LEFT JOIN xxd_user.t_user_detail f ON a.user_id = f.user_id
        WHERE (e.mobile_flag = '0' or f.marital_status='')
        <if test="startTime != null and startTime != ''">
            AND a.create_time <![CDATA[ > ]]> #{startTime}
        </if>
        <if test="endTime != null and endTime != ''">
            AND a.create_time <![CDATA[ < ]]> #{endTime}
        </if>
    </select>

    <!--放款成功-->
    <select id="findLoadSuccess" parameterType="java.util.HashMap" resultType="com.nyd.admin.model.SalesPlatformInfo">
        SELECT
        c.real_name,
        c.gender,
        b.account_number,
        b.source,
        ifnull(f.app_name_value,'侬要贷') as app_name,
        e.os,
        b.last_active_time,
        b.create_time,
        a.pay_time,
        d.pre_audit_level,
        c.id_number
        FROM
        xxd_order.t_order a
        LEFT JOIN xxd_user.t_account b ON a.user_id = b.user_id
        LEFT JOIN xxd_user.t_user c ON a.user_id = c.user_id
        LEFT JOIN xxd_user.t_user_step d ON b.user_id = d.user_id
        LEFT JOIN xxd_user.t_user_source e ON b.account_number = e.account_number
        LEFT JOIN xxd_msg.app_name_config f ON e.app_name = f.app_name_code
        WHERE 1 = 1
        AND a.order_status = '50'
        <if test="startTime != null and startTime != ''">
            AND a.pay_time <![CDATA[ > ]]> #{startTime}
        </if>
        <if test="endTime != null and endTime != ''">
            AND a.pay_time <![CDATA[ < ]]> #{endTime}
        </if>
        ORDER BY a.pay_time DESC
    </select>
    <!--放款成功个数-->
    <select id="findLoadSuccessCount" parameterType="java.util.HashMap" resultType="Integer">
        SELECT
        COUNT(0)
        FROM
        xxd_order.t_order a
        LEFT JOIN xxd_user.t_account b ON a.user_id = b.user_id
        LEFT JOIN xxd_user.t_user c ON a.user_id = c.user_id
        LEFT JOIN xxd_user.t_user_step d ON b.user_id = d.user_id
        LEFT JOIN xxd_user.t_user_source e ON b.account_number = e.account_number
        LEFT JOIN xxd_msg.app_name_config f ON e.app_name = f.app_name_code
        WHERE 1 = 1
        AND a.order_status = '50'
        <if test="startTime != null and startTime != ''">
            AND a.pay_time <![CDATA[ > ]]> #{startTime}
        </if>
        <if test="endTime != null and endTime != ''">
            AND a.pay_time <![CDATA[ < ]]> #{endTime}
        </if>
    </select>

    <!--根据手机号查找具体对象-->
    <select id="selectByMobile"  parameterType="java.util.Map" resultType="String">
        select account_number from  xxd_user.t_account
        WHERE account_number = #{mobile}
    </select>


</mapper>