<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nyd.admin.dao.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.nyd.admin.entity.power.User">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="account_no" jdbcType="VARCHAR" property="accountNo"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="id_number" jdbcType="VARCHAR" property="idNumber"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="user_type" jdbcType="TINYINT" property="userType"/>
        <result column="delete_flag" jdbcType="TINYINT" property="deleteFlag"/>
        <result column="create_time" jdbcType="DATE" property="createTime"/>
        <result column="update_time" jdbcType="DATE" property="updateTime"/>
        <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,account_no,password,user_name,id_number,email,user_type
    </sql>

    <select id="findList" parameterType="com.nyd.admin.entity.power.User" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        t_user_info
        WHERE 1=1
        <if test="accountNo != null">
            AND account_no like concat('%',#{accountNo},'%')
        </if>
        <if test="userName != null">
            AND user_name like concat('%',#{userName},'%')
        </if>
        and delete_flag = 0
        order BY create_time desc
    </select>


    <select id="getUserPowerVoByUserId" parameterType="java.lang.Integer" resultType="com.nyd.admin.model.power.UserPowerInfo">
        select e.pid, e.id as powerId,e.power_name as powerName,e.power_key as powerKey,
        e.power_url as powerUrl, e.jmp as jmp
        from t_role c
        left join t_role_power_rel d on c.id = d.role_id
        left join t_power e on e.id = d.power_id
        where c.id in (
        select c.id as role_id from t_user_info a
        left join t_user_role_rel b on b.user_id = a.id
        left join t_role c on c.id = b.role_id
        where a.id = #{id});
    </select>


    <select id="getUserPowerVoByPowerId" resultType="com.nyd.admin.model.power.UserPowerInfo" parameterType="java.util.List">
        SELECT
        pid, id as powerId,power_name as powerName,power_key as powerKey,
        power_url as powerUrl, jmp
        FROM
        t_power
        WHERE
        `delete_flag` = 0
        AND
        id IN
        <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="queryUserInfoByRoleId" resultMap="BaseResultMap">
        SELECT
        a.id,a.account_no,a.password,a.user_name,a.id_number,a.email,a.user_type,a.create_time
        FROM
        t_user_info a
        LEFT JOIN
        t_user_role_rel b
        ON
        a.id = b.user_id
        WHERE
        a.delete_flag = 0
        AND
        a.user_type = #{userType}
        AND
        b.role_id = #{roleId}
    </select>

    <!--根据用户姓名模糊查找-->
    <select id="getUserInfoByUserName" parameterType="com.nyd.admin.model.power.vo.UserVo" resultMap="BaseResultMap" >
        SELECT
        a.id,a.account_no,a.user_name,a.email,a.user_type
        FROM
        xxd_admin.t_user_info a
        where a.delete_flag = 0
        <if test="userName != null and userName != '' ">
            and a.user_name like concat(concat('%', #{userName}), '%')
        </if>
    </select>





</mapper>
