<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nyd.user.dao.mapper.RefundApplyMapper">
    <resultMap type="com.nyd.user.model.RefundApplyInfo" id="BaseResultMap">
         <id column="id" property="id" jdbcType="INTEGER" />
        <result column="user_id" property="userId" jdbcType="VARCHAR" />
        <result column="user_name" property="userName" jdbcType="VARCHAR" />
        <result column="id_card" property="idCard" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="INTEGER" />
        <result column="refund_amount" property="refundAmount" jdbcType="DECIMAL" />
        <result column="request_no" property="requestNo" jdbcType="VARCHAR" />
        <result column="track_no" property="trackNo" jdbcType="VARCHAR" />
        <result column="message" property="message" jdbcType="VARCHAR" />
        <result column="phone" property="phone" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, user_id, user_name, id_card, status,track_no,refund_amount,
        create_time, update_time, update_by,request_no,message,phone
    </sql>

    <select id="getRefundApplyList" resultType="com.nyd.order.model.OrderInfo" parameterType="com.nyd.user.model.RefundApplyInfo" >
        select * from  t_refund_apply
        <where>
            <if test="typeCode != null and typeCode != '' ">
                and type_code = #{typeCode,jdbcType=VARCHAR}
            </if>
            <if test="requestNo != null and requestNo != '' ">
                and request_no = #{requestNo,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
    <select id="jugeList" resultType="com.nyd.order.model.OrderInfo" parameterType="com.nyd.user.model.RefundApplyInfo" >
        select * from  t_refund_apply
        <where>
            <if test="typeCode != null and typeCode != '' ">
                and type_code = #{typeCode,jdbcType=VARCHAR}
               and  user_id = #{userId,jdbcType=VARCHAR}
        	and status in (10,30);
            </if>
            <if test="requestNo != null and requestNo != '' ">
                and request_no = #{requestNo,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <insert id="insert" parameterType="com.nyd.user.model.RefundApplyInfo" >
        insert into t_refund_apply (user_id, user_name,id_card , update_by, status, request_no, track_no,message,phone,type_code)
        values ( #{userId,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR},#{idCard,jdbcType=VARCHAR},
        #{updateBy,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{requestNo,jdbcType=VARCHAR}, #{trackNo,jdbcType=VARCHAR}, #{message,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{typeCode,jdbcType=VARCHAR})
    </insert>
    
    <update id="update" parameterType="com.nyd.user.model.RefundApplyInfo">
        update  t_refund_apply
        set
        <trim prefix="" suffix="" suffixOverrides=",">
            <if test="status != null">
                status = #{status,jdbcType=VARCHAR},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="refundAmount != null">
                refund_amount = #{refundAmount,jdbcType=DECIMAL},
            </if>
            <if test="message != null">
                message = #{message,jdbcType=VARCHAR},
            </if>
        </trim>
        where 1=1 and request_no = #{requestNo,jdbcType=VARCHAR}
    </update>
</mapper>
