<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nyd.order.dao.mapper.RefundApplyMapper">
    <!--根据订单编号查找对应订单详情-->
    <select id="queryRefundList" resultType="com.nyd.order.model.refund.vo.RefundListVo" 
    				parameterType="com.nyd.order.model.refund.request.RefundListRequest" >
        SELECT
        	r.id as id,
        	r.order_no as orderNo,
        	r.status as status,
        	r.refund_date as refundDate,
        	r.user_id as sysUserId,
        	r.user_name as customerName,
        	r.refund_amount as refundAmount,
        	r.phone as phone,
        	r.name as name,
        	r.cust_id as userId,
        	o.order_status as orderStatus
        FROM
        t_refund_apply r
        left JOIN t_order o on o.order_no = r.order_no
        where 1=1
        <if test="name != null and name != ''">
            and r.name = #{name}
        </if>
        <if test="status != null and status != ''">
            and r.status = #{status}
        </if>
        <if test="phone != null and phone != ''">
            and r.phone = #{phone}
        </if>
        <if test="beginTime !=null and beginTime !='' and endTime !=null and endTime !=''">
			and r.refund_date between #{beginTime} and #{endTime}
		</if>
        order by r.refund_date desc
        ${queryCondition}
    </select>
    
    <select id="queryRefundListCount" resultType="java.lang.Long" 
    				parameterType="com.nyd.order.model.refund.request.RefundListRequest" >
        SELECT
        	count(*)
        FROM
        t_refund_apply r
        left JOIN t_order o on o.order_no = r.order_no
        where 1=1
        <if test="name != null and name != ''">
            and r.name = #{name}
        </if>
        <if test="phone != null and phone != ''">
            and r.phone = #{phone}
        </if>
        <if test="status != null and status != ''">
            and r.status = #{status}
        </if>
        <if test="beginTime !=null and beginTime !='' and endTime !=null and endTime !=''">
			and r.refund_date between #{beginTime} and #{endTime}
		</if>
        order by r.refund_date desc
    </select>
    
    <select id="queryRefundFlow" resultType="com.nyd.order.model.refund.vo.RefundFlowVo" 
    				parameterType="string" >
        SELECT
        	id as id,
        	cust_id as userId,
        	refund_date as refundDate,
        	status as status,
        	FORMAT(refund_amount,2) as refundAmount,
        	FORMAT(real_refund_amount,2) as realRefundAmount,
        	remarks as remarks,
        	real_refund_date as realRefundDate
        FROM
        t_refund_apply
        where 
        order_no = #{orderNo}
        order by refund_date desc
    </select>
    
    <!-- 退款处理记录合计查询 -->
    <select id="sumAmount" resultType="com.nyd.order.model.refund.vo.SumAmountVo" 
    				parameterType="string" >
		SELECT
			IFNULL(TRUNCATE(SUM(r.refund_amount),2),'0.00') as refundAmount,
			IFNULL(TRUNCATE((select SUM(a.real_refund_amount) from t_refund_apply a WHERE a.order_no = #{orderNo} AND status = '2'),2),'0.00') as realRefundAmount
		FROM
		t_refund_apply r
		where r.order_no = #{orderNo}
    </select>

	<insert id="save" parameterType="com.nyd.order.model.refund.request.SaveRefundApplyRequest">
	INSERT INTO `t_refund_apply` VALUES (#{id}, #{orderNo}, #{refundDate}, #{realRefundDate}, #{custId}, #{phone}, #{name},#{refundAmount}, #{realRefundAmount}, #{userId},
	#{userName}, #{serialNum},#{applyRemarks},#{submitTime},#{remarks}, #{status}, #{createTime}, #{updateTime},#{handleUserId},#{handleUserName});
	</insert>
	
	<select id="queryIsApplay" resultType="java.lang.Long" parameterType="java.util.HashMap">
		 SELECT COUNT(1) FROM t_refund_apply where order_no = #{orderNo} and refund_date =#{refundDate} and status = '0' or status = '1'
    </select>
    
    <!-- 查询当天批核费总金额 -->
    <select id="queryTotalIncome" resultType="java.lang.String">
		 select TRUNCATE(SUM(pay_amount),2) as totalIncome from t_withhold_order 
		 where order_status = 2 
		 and date_format(update_time,'%Y-%m-%d') = date_format(now(),'%Y-%m-%d')
    </select>
    
    <!-- 查询当天总退款金额 -->
    <select id="queryRefunded" resultType="java.lang.String">
		 select IFNULL(TRUNCATE(SUM(real_refund_amount),2),'0.00') as refunded from t_refund_apply
		 where status = '2' 
		 and date_format(update_time,'%Y-%m-%d') = date_format(now(),'%Y-%m-%d')
    </select>
    
    <!-- 查询所有状态为处理中退款订单 -->
    <select id="queryProcessing" resultType="com.nyd.order.entity.refund.RefundApplyEntity">
		 select * from t_refund_apply
		 where status = '1'
    </select>
    
    <!-- 修改退款订单状态 -->
    <update id="updateInfo" parameterType="com.nyd.order.entity.refund.RefundApplyEntity">
        update t_refund_apply
        set
        <trim prefix="" suffix="" suffixOverrides=",">
        	<if test="order_no != null and order_no != ''">
                order_no = #{order_no},
            </if>
            <if test="refund_date != null and refund_date != ''">
                refund_date = #{refund_date},
            </if>
            <if test="real_refund_date != null and real_refund_date != ''">
                real_refund_date = #{real_refund_date},
            </if>
            <if test="phone != null and phone != ''">
                phone = #{phone},
            </if>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="refund_amount != null and refund_amount != ''">
                refund_amount = #{refund_amount},
            </if>
            <if test="real_refund_amount != null and real_refund_amount != ''">
                real_refund_amount = #{real_refund_amount},
            </if>
            <if test="user_id != null and user_id != ''">
                user_id = #{user_id},
            </if>
            <if test="user_name != null and user_name != ''">
                user_name = #{user_name},
            </if>
            <if test="serialNum != null and serialNum != ''">
                serialNum = #{serialNum},
            </if>
            <if test="apply_remarks != null and apply_remarks != ''">
                apply_remarks = #{apply_remarks},
            </if>
            <if test="submitTime != null and submitTime != ''">
                submitTime = #{submitTime},
            </if>
            <if test="remarks != null and remarks != ''">
                remarks = #{remarks},
            </if>
            <if test="status != null and status != ''">
                status = #{status},
            </if>
            <if test="handle_user_id != null and handle_user_id != ''">
                handle_user_id = #{handle_user_id},
            </if>
            <if test="handle_user_name != null and handle_user_name != ''">
                handle_user_name = #{handle_user_name},
            </if>
            update_time = now(),
        </trim>
        where id = #{id}
    </update>
    
</mapper>