<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nyd.batch.dao.mapper.TMemberMapper">
  <resultMap id="BaseResultMap" type="com.nyd.batch.entity.TMember">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="member_type" jdbcType="VARCHAR" property="memberType" />
    <result column="member_type_describe" jdbcType="VARCHAR" property="memberTypeDescribe" />
    <result column="expire_time" jdbcType="TIMESTAMP" property="expireTime" />
    <result column="delete_flag" jdbcType="TINYINT" property="deleteFlag" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, mobile, member_type, member_type_describe, expire_time, delete_flag, 
    create_time, update_time, update_by
  </sql>
  <select id="selectByUserId" parameterType="java.util.Map" resultMap="BaseResultMap">
    SELECT id,user_id,member_type,expire_time,member_type_describe from t_member
    WHERE user_id=#{userId}
  </select>

</mapper>