<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nyd.admin.dao.mapper.FundInfoMapper">
    <resultMap id="BaseResultMap" type="com.nyd.admin.model.fundManageModel.FundInfoModel">
        <result column="fund_id" jdbcType="CHAR" property="fundId" />
        <result column="name" jdbcType="CHAR" property="name" />
        <result column="id_number" jdbcType="CHAR" property="idNumber" />
        <result column="investment_amount" jdbcType="DECIMAL" property="investmentAmount" />
        <result column="account_date" jdbcType="DATE" property="accountDate" />
        <result column="back_date" jdbcType="DATE" property="backDate" />
        <result column="total_profit" jdbcType="BIGINT" property="totalProfit" />
        <result column="back_amount" jdbcType="DECIMAL" property="backAmount" />
        <result column="status" jdbcType="CHAR" property="status" />
    </resultMap>

    <select id="queryFundInfo" resultMap="BaseResultMap">
        SELECT
            fund_id,
            name,
            id_number,
            investment_amount,
            account_date,
            back_date,
            total_profit,
            back_amount,
            CASE
            WHEN back_date > CURDATE() THEN
            '计息中'
            ELSE
            '已结清'
            END AS status
        FROM
            t_fund_info
        WHERE 1=1
        <if test="name != null">
            AND `name` = #{name,jdbcType=VARCHAR}
        </if>
        <if test="idNumber != null">
            AND `id_number` = #{idNumber,jdbcType=VARCHAR}
        </if>
        <if test="startDate != null">
            AND `account_date` &gt;= #{startDate,jdbcType=DATE}
        </if>
        <if test="endDate != null">
            AND `account_date` &lt;= #{endDate,jdbcType=DATE}
        </if>

    </select>
</mapper>
