<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:cache="http://www.springframework.org/schema/cache"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	    http://www.springframework.org/schema/cache  http://www.springframework.org/schema/cache/spring-cache-4.0.xsd
	     http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">

    <!--<context:property-placeholder location="classpath:/com/tasfe/sis/configs/base/service/properties/redis.properties" />-->

    <context:component-scan base-package="com.mobanker.framework.redis"/>
    <cache:annotation-driven cache-manager="cacheManager"/>
    <bean id="cacheManager" class="org.springframework.cache.support.SimpleCacheManager">
        <property name="caches">
            <set>
                <bean class="com.mobanker.framework.redis.dataSource.RedisClientCache">
                    <property name="name" value="${cache.redis.name}"/>
                    <property name="liveTime" value="${cache.redis.expire}"/>
                </bean>
            </set>
        </property>
    </bean>
    <bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
        <property name="maxTotal" value="${cache.redis.pool.maxTotal}"/>
        <!-- 最大连接数 -->
        <property name="maxIdle" value="${cache.redis.pool.maxIdle}"/>
        <!-- 最大空闲数 -->
        <property name="maxWaitMillis" value="-1"/>
        <!-- 最大等待时间ms -->
        <property name="testOnBorrow" value="true"/>
        <property name="testOnReturn" value="true"/>
    </bean>

    <bean id="jedisShardInfo" class="redis.clients.jedis.JedisShardInfo">

        <constructor-arg index="0" value="http://${cache.redis.host}:${cache.redis.port}/${cache.redis.db}"/>
        <!-- <constructor-arg index="1" value="${redis.port}"/> -->
        <!-- <constructor-arg index="2" value="${redis.timeout}" /> -->
        <property name="password" value="${cache.redis.password}"/>
    </bean>

    <bean id="shardedJedisPool" class="redis.clients.jedis.ShardedJedisPool">
        <constructor-arg index="0" ref="jedisPoolConfig"/>
        <constructor-arg index="1">
            <list>
                <ref bean="jedisShardInfo"/>
            </list>
        </constructor-arg>
    </bean>
</beans>