<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nyd.batch.dao.mapper.TMemberLogMapper">
  <resultMap id="BaseResultMap" type="com.nyd.batch.entity.TMemberLog">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="member_type" jdbcType="VARCHAR" property="memberType" />
    <result column="member_id"  jdbcType="VARCHAR" property="memberId"/>
    <result column="member_type_describe" jdbcType="VARCHAR" property="memberTypeDescribe" />
    <result column="member_fee" jdbcType="DECIMAL" property="memberFee" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="debit_channel" jdbcType="VARCHAR" property="debitChannel" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="debit_flag" jdbcType="VARCHAR" property="debitFlag" />
    <result column="delete_flag" jdbcType="TINYINT" property="deleteFlag" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, member_type, member_type_describe, member_fee, start_time, debit_flag, 
    delete_flag, create_time, update_time, update_by,order_no,debit_channel
  </sql>
  <select id="selectByTimeRange" parameterType="java.util.Map" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM t_member_log
    WHERE  create_time &gt;= CONCAT(#{flagDate},' 00:00:00')
      AND create_time &lt;= CONCAT(#{flagDate},' 23:59:59')

  </select>
  <select id="selectByUserId"  parameterType="java.util.Map" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM t_member_log
    WHERE user_id=#{userId}
  </select>

  <select id="selectByOrderNo"  parameterType="java.util.Map" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM t_member_log
    WHERE order_no=#{orderNo}
  </select>

  <select id="selectByMemberId" parameterType="java.util.Map" resultMap="BaseResultMap">
    SELECT * from t_member_log where member_id = #{memberId}
  </select>

</mapper>