<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nyd.batch.dao.mapper.TRepayMapper">
  <resultMap id="BaseResultMap" type="com.nyd.batch.entity.TRepay">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="CHAR" property="userId" />
    <result column="repay_no" jdbcType="CHAR" property="repayNo" />
    <result column="bill_no" jdbcType="CHAR" property="billNo" />
    <result column="repay_time" jdbcType="TIMESTAMP" property="repayTime" />
    <result column="repay_amount" jdbcType="DECIMAL" property="repayAmount" />
    <result column="repay_channel" jdbcType="VARCHAR" property="repayChannel" />
    <result column="user_zfb_id" jdbcType="VARCHAR" property="userZfbId" />
    <result column="user_zfb_name" jdbcType="VARCHAR" property="userZfbName" />
    <result column="repay_status" jdbcType="VARCHAR" property="repayStatus" />
    <result column="repay_type" jdbcType="TINYINT" property="repayType" />
    <result column="actual_recorded_time" jdbcType="TIMESTAMP" property="actualRecordedTime" />
    <result column="third_procedure_fee" jdbcType="DECIMAL" property="thirdProcedureFee" />
    <result column="delete_flag" jdbcType="TINYINT" property="deleteFlag" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="derate_type" jdbcType="TINYINT" property="derateType" />
    <result column="derate_amount" jdbcType="DECIMAL" property="derateAmount" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, repay_no, bill_no, repay_time, repay_amount, repay_channel, user_zfb_id, 
    user_zfb_name, repay_status, repay_type, actual_recorded_time, third_procedure_fee, 
    delete_flag, create_time, update_time, update_by
  </sql>

  <select id="queryByTimeRange" parameterType="java.util.Map" resultMap="BaseResultMap">
    SELECT
    *
    FROM t_repay
    WHERE delete_flag != 1 AND repay_time &gt;= CONCAT(#{flagDate},' 00:00:00')
    AND repay_time &lt;= CONCAT(#{flagDate},' 23:59:59') AND repay_status = '0'
  </select>


</mapper>