<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nyd.zeus.dao.mapper.BillRepayMapper" > 

	<!-- Result Map-->
	<resultMap id="BaseResultMap" type="com.nyd.zeus.entity.BillRepay" >
			<result column="id" property="id"/>
			<result column="bill_no" property="billNo"/>
			<result column="order_no" property="orderNo"/>
			<result column="user_id" property="userId"/>
			<result column="out_order_number" property="outOrderNumber"/>
			<result column="repay_amount" property="repayAmount"/>
			<result column="pay_type" property="payType"/>
			<result column="create_time" property="createTime"/>
			<result column="end_time" property="endTime"/>
			<result column="result_code" property="resultCode"/>
			<result column="remark" property="remark"/>
		</resultMap>
	       

  	
</mapper>   
