<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nyd.zeus.dao.mapper.RemitMapper">

    <select id="selectTime" parameterType="string" resultType="com.nyd.zeus.model.RemitInfo">
        select remit_time from xxd_zeus.t_remit
        where remit_no = #{assetNo}
    </select>

    <select id="getSuccessRemit" resultType="com.nyd.zeus.model.RemitInfo">
        select * from xxd_zeus.t_remit
        where remit_status = '0'
        and create_time >= #{startTime}
        and create_time &lt; #{endTime}
    </select>
    
    <select id="getOverdueDays" parameterType="string" resultType="com.nyd.zeus.model.OrderRecordHisVo">
         select tb.overdue_days overdueDays,tb.promise_repayment_date endTime,
         tb.actual_settle_date actualRepayTime  
 		from    t_bill tb 
        where tb.order_no = #{orderNo}
    </select>
</mapper>