<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nyd.settlement.dao.mapper.QueryOrderMapper">
    <resultMap id="BaseResultMap" type="com.nyd.settlement.model.po.QueryOrderPo">
        <result column="product_type" jdbcType="TINYINT" property="productType" />
        <result column="test_status" jdbcType="TINYINT" property="testStatus" />
        <result column="order_no" jdbcType="CHAR" property="orderNo" />
        <result column="member_id" jdbcType="DECIMAL" property="memberId" />
        <result column="real_name" jdbcType="DECIMAL" property="realName" />
        <result column="mobile" jdbcType="CHAR" property="mobile" />
        <result column="bank_account" jdbcType="CHAR" property="bankAccount" />
        <result column="bank_name" jdbcType="CHAR" property="bankName" />
        <result column="fund_code" jdbcType="CHAR" property="fundCode" />
        <result column="real_loan_amount" jdbcType="DECIMAL" property="realLoanAmount" />
        <result column="member_fee" jdbcType="DECIMAL" property="memberFee" />
        <result column="borrow_periods" jdbcType="BIGINT" property="borrowPeriods" />
        <result column="loan_time" jdbcType="DATE" property="loanTime" />
        <result column="pay_time" jdbcType="DATE" property="payTime" />
        <result column="pay_fail_reason" jdbcType="VARCHAR" property="payFailReason" />
    </resultMap>

    <select id="queryOrderList" parameterType="com.nyd.settlement.model.dto.QueryDto" resultMap="BaseResultMap">
        SELECT
        de.product_type,
        o.test_status,
        o.order_no,
        de.real_name,
        de.mobile,
        o.bank_account,
        o.bank_name,
        o.fund_code,
        o.real_loan_amount,
        o.member_fee,
        o.borrow_periods,
        o.loan_time,
        o.pay_time,
        o.pay_fail_reason
        FROM
        xxd_order.t_order o,
        xxd_order.t_order_detail de
        WHERE  o.order_no = de.order_no
        <if test="startDate != null">
            AND o.pay_time &gt;= CONCAT(#{startDate,jdbcType=VARCHAR}," 00:00:00")
        </if>
        <if test="endDate != null">
            AND o.pay_time &lt;= CONCAT(#{endDate,jdbcType=VARCHAR}," 23:59:59")
        </if>
        <if test="mobile != null and mobile != ''">
            AND de.mobile = #{mobile,jdbcType=VARCHAR}
        </if>
        <if test="orderNo != null and orderNo != ''">
            AND o.order_no = #{orderNo,jdbcType=VARCHAR}
        </if>
        <if test="fundCode != null and fundCode != ''">
            AND o.fund_code = #{fundCode,jdbcType=VARCHAR}
        </if>
        <if test="orderStatus != null and orderStatus != ''">
            AND o.order_status = #{orderStatus,jdbcType=VARCHAR}
        </if>
    </select>

    <select id="queryWaitOrderList" parameterType="com.nyd.settlement.model.dto.QueryDto" resultMap="BaseResultMap">
        SELECT
        f.order_no,
        de.product_type,
        o.test_status,
        de.real_name,
        de.mobile,
        o.bank_account,
        o.bank_name,
        o.fund_code,
        o.real_loan_amount,
        o.member_fee,
        o.borrow_periods,
        o.loan_time
        FROM
        xxd_zeus.t_failorder_kzjr f
        LEFT JOIN xxd_order.t_order o ON f.order_no = o.order_no
        LEFT JOIN xxd_order.t_order_detail de ON f.order_no = de.order_no
        WHERE
        o.order_status = '30'
        <if test="startDate != null">
            AND o.loan_time &gt;= CONCAT(#{startDate,jdbcType=VARCHAR}," 00:00:00")
        </if>
        <if test="endDate != null">
            AND o.loan_time &lt;= CONCAT(#{endDate,jdbcType=VARCHAR}," 23:59:59")
        </if>
        <if test="mobile != null and mobile != ''">
            AND de.mobile = #{mobile,jdbcType=VARCHAR}
        </if>
        <if test="orderNo != null and orderNo != ''">
            AND o.order_no = #{orderNo,jdbcType=VARCHAR}
        </if>
        <if test="fundCode != null and fundCode != ''">
            AND o.fund_code = #{fundCode,jdbcType=VARCHAR}
        </if>
    </select>

</mapper>
