<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nyd.settlement.dao.mapper.RepayOrderMapper">
    <resultMap id="BaseResultMap" type="com.nyd.settlement.model.po.repay.RepayOrderPo">
        <result column="user_id" jdbcType="CHAR" property="userId" />
        <result column="product_type" jdbcType="TINYINT" property="productType" />
        <result column="test_status" jdbcType="TINYINT" property="testStatus" />
        <result column="fund_code" jdbcType="CHAR" property="fundCode" />
        <result column="order_no" jdbcType="CHAR" property="orderNo" />
        <result column="member_id" jdbcType="CHAR" property="memberId" />
        <result column="member_fee" jdbcType="DECIMAL" property="memberFee" />
        <result column="real_name" jdbcType="CHAR" property="name" />
        <result column="mobile" jdbcType="CHAR" property="mobile" />
        <result column="loan_amount" jdbcType="DECIMAL" property="contractAmount" />
        <result column="borrow_time" jdbcType="TINYINT" property="borrowTime" />
        <result column="pay_time" jdbcType="DATE" property="payTime" />
    </resultMap>

    <select id="repayOrderList" parameterType="com.nyd.settlement.model.dto.repay.RepayQueryDto" resultMap="BaseResultMap">
        SELECT
        a.user_id,
        b.product_type,
        a.test_status,
        a.fund_code,
        a.order_no,
        a.member_fee,
        b.real_name,
        b.mobile,
        a.loan_amount,
        a.borrow_time,
        a.pay_time
        FROM
        xxd_order.t_order a
        INNER JOIN xxd_order.t_order_detail b ON a.order_no=b.order_no
        INNER JOIN xxd_zeus.t_bill c ON a.order_no=c.order_no
        LEFT JOIN xxd_zeus.t_overdue_bill d ON a.order_no=d.order_no
        WHERE  1=1
        <if test="mobile != null and mobile != '' ">
            AND b.mobile = #{mobile,jdbcType=VARCHAR}
        </if>
        <if test="orderNo != null and orderNo != ''">
            AND a.order_no = #{orderNo,jdbcType=VARCHAR}
        </if>
        <if test="remitChannel != null and remitChannel != ''">
            AND a.fund_code = #{remitChannel,jdbcType=VARCHAR}
        </if>
        <if test="billStatus == 1">
            AND c.bill_status != 'B003'
        </if>
        <if test="billStatus == 2">
            AND c.bill_status = 'B003'
        </if>
        <if test="billStatus == 1 and startDate != null">
            AND c.promise_repayment_date &gt;= CONCAT(#{startDate,jdbcType=VARCHAR}," 00:00:00")
        </if>
        <if test="billStatus == 1 and endDate != null">
            AND c.promise_repayment_date &lt;= CONCAT(#{endDate,jdbcType=VARCHAR}," 23:59:59")
        </if>
        <if test="billStatus == 2 and startDate != null">
            AND c.actual_settle_date &gt;= CONCAT(#{startDate,jdbcType=VARCHAR}," 00:00:00")
        </if>
        <if test="billStatus == 2 and endDate != null">
            AND c.actual_settle_date &lt;= CONCAT(#{endDate,jdbcType=VARCHAR}," 23:59:59")
        </if>
        <if test="overdueStatus == 2">
            AND d.order_no is not null
            AND d.delete_flag=0
        </if>
        <if test="overdueStatus == 1">
            AND d.order_no is null
        </if>
        AND c.delete_flag=0
    </select>
</mapper>
