<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nyd.user.dao.mapper.AccountResetMapper">

    <insert id="save" parameterType="com.nyd.user.model.AccountResetInfo">
        insert into t_account_reset (old_account_number, new_account_number, user_id, i_bank_user_id)
        values
        (#{oldAccountNumber}, #{newAccountNumber},#{userId},#{ibankUserId})
    </insert>

</mapper>
