<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nyd.user.dao.mapper.GeetestConfigMapper">



    <select id="selectByCodeAndType"  resultType="com.nyd.user.entity.GeetestConfig">
        select * from xxd_user.t_geetest_config
        where app_code = #{code} and type = #{type}
    </select>

    <select id="selectAllAppCode" resultType="com.nyd.user.entity.GeetestConfig">
        select app_code from xxd_user.t_geetest_config
        where type = 1
    </select>

</mapper>