<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nyd.user.dao.mapper.LoginLogMapper">


    <select id="selectSource" parameterType="string" resultType="com.nyd.user.entity.LoginLog">
        select app_name,create_time from xxd_user.t_login_log
        WHERE account_number = #{mobile}
        ORDER BY create_time DESC limit 1;
    </select>

</mapper>