<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nyd.user.dao.mapper.RefundUserMapper">
  <insert id ="saveRefundUser" parameterType="com.nyd.user.entity.RefundUser">
  			insert into t_refund_user(
  			  user_id,user_name,account_number,order_no,refund_amonut,if_remove,delete_flag
  			)
  			values(
  				#{userId},#{userName},#{accountNumber},#{orderNo},#{refundAmonut},#{ifRemove},#{deleteFlag}
  			)
  </insert>
  
  <update id="updateRefundUser" parameterType="com.nyd.user.entity.RefundUser">
   		update 
   		   t_refund_user
   		 set if_remove = #{ifRemove}
   		 where account_number = #{accountNumber}
   		 AND delete_flag = 0  
   		 
  </update>
  
  <select id="queryRefundUserInfoCount" parameterType="java.util.Map" resultType="Integer">
      select count(1) from t_refund_user
       where
         if_remove = 0
         <if test="userName != null and userName != ''">
				AND user_name = #{userName}
			</if>
			<if test="accountNumber != null and accountNumber != ''">
				AND account_number = #{accountNumber}
			</if>
  </select>
  
  <select id="queryRefundUserInfo" parameterType="java.util.Map" resultType="com.nyd.user.entity.RefundUser">
      select * from t_refund_user
       where
         if_remove = 0
         <if test="userName != null and userName != ''">
				AND user_name = #{userName}
			</if>
			<if test="accountNumber != null and accountNumber != ''">
				AND account_number = #{accountNumber}
			</if>
			<if test="userId != null and userId != ''">
				AND user_id = #{userId}
			</if>     
  </select>
  <select id="haveInWhiteList" parameterType="com.nyd.user.model.RefundUserInfo" resultType="Integer">
      select count(*) from t_refund_user
      <where>
         	<if test="userName != null and userName != ''">
				AND user_name = #{userName}
			</if>
			<if test="accountNumber != null and accountNumber != ''">
				AND account_number = #{accountNumber}
			</if>
			<if test="userId != null and userId != ''">
				AND user_id = #{userId} and if_remove = 0
			</if>
      </where>
  </select>
  <select id="getRefundUserByUserId" parameterType="com.nyd.user.model.RefundUserInfo" resultType="com.nyd.user.model.RefundUserInfo">
      select * from t_refund_user
      <where>
         	<if test="userName != null and userName != ''">
				AND user_name = #{userName}
			</if>
			<if test="accountNumber != null and accountNumber != ''">
				AND account_number = #{accountNumber}
			</if>
			<if test="userId != null and userId != ''">
				AND user_id = #{userId} and if_remove = 0
			</if>
      </where>
  </select>
  
</mapper>