<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nyd.zeus.dao.mapper.TimeAttendanceMapper">

	<insert id="save" parameterType="com.nyd.zeus.model.attendance.TimeAttendance">
	INSERT INTO `t_time_attendance` VALUES (
		#{id}, #{sysUserId}, #{sysUserName}, #{monday}, #{tuesday}, 
		#{wednesday}, #{thursday}, #{friday}, #{saturday}, #{sunday},
		#{updateUserId}, #{updateUserName}, #{status}, now(), now() 
	);
	</insert>
	
    <update id="update" parameterType="com.nyd.zeus.model.attendance.TimeAttendance">
        update t_time_attendance
        set
        <trim prefix="" suffix="" suffixOverrides=",">
        	<if test="monday != null">
                monday = #{monday},
            </if>
            <if test="tuesday != null">
                tuesday = #{tuesday},
            </if>
            <if test="wednesday != null">
                wednesday = #{wednesday},
            </if>
            <if test="thursday != null">
                thursday = #{thursday},
            </if>
            <if test="friday != null">
                friday = #{friday},
            </if>
            <if test="saturday != null">
                saturday = #{saturday},
            </if>
            <if test="sunday != null">
                sunday = #{sunday},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="updateUserId != null and updateUserId != ''">
                update_user_id = #{updateUserId},
            </if>
            <if test="updateUserName != null and updateUserName != ''">
                update_user_name = #{updateUserName},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </trim>
        where sys_user_id = #{sysUserId}
    </update>
	
    <!--根据订单编号查找对应订单详情-->
    <select id="queryList" resultType="com.nyd.zeus.model.attendance.TimeAttendance" 
    				parameterType="com.nyd.zeus.model.attendance.AttendanceRequest" >
        SELECT
        	id, 
        	sys_user_id as sysUserId, 
        	sys_user_name as sysUserName, 
        	monday, 
        	tuesday, 
			wednesday, 
			thursday, 
			friday, 
			saturday, 
			sunday,
			status, 
			create_time as createTime, 
			update_time as updateTime 
        FROM t_time_attendance 
        where 1=1
        <if test="sysUserId != null and sysUserId != ''">
            and sys_user_id = #{sysUserId}
        </if>
            and status = 0
        ${queryCondition}
    </select>
    
    <select id="queryListCount" resultType="java.lang.Long" 
    				parameterType="com.nyd.zeus.model.attendance.AttendanceRequest" >
        SELECT count(*) FROM t_time_attendance
        where 1=1
        <if test="sysUserId != null and sysUserId != ''">
            and sys_user_id = #{sysUserId}
        </if>
        	and status = 0
        order by sys_user_name desc
    </select>
    
  
    
    
</mapper>