<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nyd.order.dao.mapper.WithholdOrderMapper">

    <insert id="save" parameterType="com.nyd.order.entity.WithholdOrder">
        insert into xxd_order.t_withhold_order
                (member_id,
                user_id,
                pay_amount,
                pay_order_no,
            <if test="withholdOrderNo != null">
                withhold_order_no,
            </if>
            <if test="payType != null">
                pay_type,
            </if>
                order_status,
                app_name
        ) values(
                #{memberId,jdbcType=VARCHAR},
                #{userId,jdbcType=VARCHAR},
                #{payAmount,jdbcType=DECIMAL},
                #{payOrderNo,jdbcType=VARCHAR},
            <if test="withholdOrderNo != null">
                #{withholdOrderNo,jdbcType=VARCHAR},
            </if>
            <if test="payType != null">
                #{payType,jdbcType=VARCHAR},
            </if>
                #{orderStatus,jdbcType=INTEGER},
                #{appName,jdbcType=VARCHAR})
    </insert>

    <update id="update" parameterType="com.nyd.order.entity.WithholdOrder">
        update xxd_order.t_withhold_order
        set
        <if test="userId != null">
            user_id = #{userId,jdbcType=VARCHAR},
        </if>
        <if test="payAmount != null">
            pay_amount = #{payAmount,jdbcType=DECIMAL},
        </if>
        <if test="payOrderNo != null">
            pay_order_no = #{payOrderNo,jdbcType=VARCHAR},
        </if>
        <if test="withholdOrderNo != null">
            withhold_order_no = #{withholdOrderNo,jdbcType=VARCHAR},
        </if>
        <if test="payType != null">
            pay_type = #{payType,jdbcType=VARCHAR},
        </if>
        <if test="orderStatus != null">
            order_status = #{orderStatus,jdbcType=INTEGER},
        </if>
        <if test="appName != null">
            app_name = #{appName,jdbcType=VARCHAR}
        </if>
        where  1=1 
            <if test="memberId != null and memberId != ''">
            and member_id = #{memberId}
        </if>
        <if test="payOrderNo != null and payOrderNo != ''">
            and pay_order_no = #{payOrderNo,jdbcType=VARCHAR}
        </if>
    </update>

    <select id="getObjectsByMemberId" parameterType="string" resultType="com.nyd.order.entity.WithholdOrder">
        select * from xxd_order.t_withhold_order
        where member_id = #{memberId}
    </select>

    <select id="getObjectsPayOrderNo" parameterType="string" resultType="com.nyd.order.entity.WithholdOrder">
        select * from xxd_order.t_withhold_order
        where pay_order_no = #{payOrderNo}
    </select>
    
    <select id="findObjectsByMemberIdDesc" parameterType="string" resultType="com.nyd.order.entity.WithholdOrder">
        select * from xxd_order.t_withhold_order
        where member_id = #{memberId}
        order by create_time desc
    </select>

    <select id="selectStatusOne"  resultType="com.nyd.order.entity.WithholdOrder">
        select * from xxd_order.t_withhold_order
        where order_status = 1 and pay_type = 2
    </select>
</mapper>