<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nyd.settlement.dao.mapper.RepayTmpMapper">
  <resultMap id="BaseResultMap" type="com.nyd.settlement.entity.repay.RepaySettleTmp">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="CHAR" property="userId" />
    <result column="repay_no" jdbcType="CHAR" property="repayNo" />
    <result column="bill_no" jdbcType="CHAR" property="billNo" />
    <result column="derate_type" jdbcType="TINYINT" property="derateType" />
    <result column="derate_amount" jdbcType="DECIMAL" property="derateAmount" />
    <result column="advice_amount" jdbcType="DECIMAL" property="adviceAmount" />
    <result column="repay_time" jdbcType="TIMESTAMP" property="repayTime" />
    <result column="repay_amount" jdbcType="DECIMAL" property="repayAmount" />
    <result column="repay_name" jdbcType="VARCHAR" property="repayName" />
    <result column="repay_id_number" jdbcType="VARCHAR" property="repayIdNumber" />
    <result column="repay_account" jdbcType="VARCHAR" property="repayAccount" />
    <result column="repay_channel" jdbcType="VARCHAR" property="repayChannel" />
    <result column="repay_type" jdbcType="TINYINT" property="repayType" />
    <result column="audit_status" jdbcType="TINYINT" property="auditStatus"/>
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <!--<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />-->
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, repay_no, bill_no, derate_type, derate_amount, repay_time, repay_amount, 
    repay_name, repay_id_number, repay_account, repay_channel, repay_status, repay_type, 
    delete_flag,audit_status, remark, create_time, update_time, update_by
  </sql>
  <insert id="insert" parameterType="com.nyd.settlement.entity.repay.RepaySettleTmp">
    insert into t_repay_settle_tmp (user_id, repay_no,
    bill_no, derate_type, derate_amount,advice_amount,
    repay_time, repay_amount, repay_name,
    repay_id_number, repay_account, repay_channel,
    repay_type,audit_status,
    remark, update_by,user_name,mobile)
    values (#{userId,jdbcType=CHAR}, #{repayNo,jdbcType=CHAR},
    #{billNo,jdbcType=CHAR}, #{derateType,jdbcType=TINYINT}, #{derateAmount,jdbcType=DECIMAL},#{adviceAmount,jdbcType=DECIMAL},
    #{repayTime,jdbcType=TIMESTAMP}, #{repayAmount,jdbcType=DECIMAL}, #{repayName,jdbcType=VARCHAR},
    #{repayIdNumber,jdbcType=VARCHAR}, #{repayAccount,jdbcType=VARCHAR}, #{repayChannel,jdbcType=VARCHAR},
    #{repayType,jdbcType=TINYINT},#{auditStatus,jdbcType=TINYINT},
    #{remark,jdbcType=VARCHAR}, #{updateBy,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR})
  </insert>

  <select id="queryList" parameterType="java.util.Map" resultMap="BaseResultMap">
    SELECT * FROM t_repay_settle_tmp WHERE 1=1
    <if test="userName != null">
    AND user_name = #{userName,jdbcType=VARCHAR}
    </if>
    <if test="mobile != null">
      AND mobile = #{mobile,jdbcType=VARCHAR}
    </if>
    <if test="type != null">
      AND audit_status = #{type,jdbcType=TINYINT}
    </if>
  </select>

  <select id="queryListByIds" parameterType="java.util.List" resultMap="BaseResultMap">
    SELECT * FROM t_repay_settle_tmp WHERE id IN
    <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
      #{item}
    </foreach>
  </select>

  <update id="updateTmp" parameterType="java.util.List" >
    UPDATE t_repay_settle_tmp set audit_status=0 WHERE id IN
    <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
      #{item}
    </foreach>
  </update>

</mapper>