<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nyd.settlement.dao.mapper.YmtOrderMapper">

    <resultMap id="BaseResultMap" type="com.nyd.settlement.entity.YmtOrder">
        <result column="id" jdbcType="INTEGER" property="Id" />
        <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
        <result column="user_id" jdbcType="VARCHAR" property="userId" />
        <result column="recommend_id" jdbcType="VARCHAR" property="recommendId" />
        <result column="repay_no" jdbcType="VARCHAR" property="repayNo" />
        <result column="id_number" jdbcType="VARCHAR" property="idNumber" />
        <result column="real_name" jdbcType="VARCHAR" property="realName" />
        <result column="mobile" jdbcType="VARCHAR" property="mobile" />
        <result column="source" jdbcType="VARCHAR" property="source" />
        <result column="audit_fee" jdbcType="DECIMAL" property="auditFee" />
        <result column="loan_purpose" jdbcType="VARCHAR" property="loanPurpose" />
        <result column="loan_amount" jdbcType="DECIMAL" property="loanAmount" />
        <result column="borrow_time" jdbcType="TIMESTAMP" property="borrowTime" />
        <result column="borrow_periods" jdbcType="INTEGER" property="borrowPeriods" />
        <result column="bank_account" jdbcType="VARCHAR" property="bankAccount" />
        <result column="bank_name" jdbcType="VARCHAR" property="bankName" />
        <result column="order_status" jdbcType="INTEGER" property="orderStatus" />
        <result column="audit_status" jdbcType="VARCHAR" property="auditReason" />
        <result column="loan_time" jdbcType="TIMESTAMP" property="loanTime" />
        <result column="pay_time" jdbcType="TIMESTAMP" property="payTime" />
        <result column="business" jdbcType="VARCHAR" property="business" />
        <result column="test_status" jdbcType="INTEGER" property="testStatus" />
        <result column="delete_flag" jdbcType="INTEGER" property="deleteFlag" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="update_by" jdbcType="VARCHAR" property="updateBy" />

    </resultMap>


    <select id="selectByRepayNo" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        *
        from ibank_order.t_order
        where repay_no = #{repayNo, jdbcType=VARCHAR}
    </select>


</mapper>
