<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nyd.capital.dao.mappers.TKzjrProductConfigMapper">
  <resultMap id="BaseResultMap" type="com.nyd.capital.entity.KzjrProductConfig">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="product_code" jdbcType="VARCHAR" property="productCode" />
    <result column="use_date" jdbcType="DATE" property="useDate" />
    <result column="duration" jdbcType="INTEGER" property="duration" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="priority" jdbcType="INTEGER" property="priority" />
    <result column="full_status" jdbcType="INTEGER" property="fullStatus" />
    <result column="total_amount" jdbcType="DECIMAL" property="totalAmount" />
    <result column="remain_amount" jdbcType="DECIMAL" property="remainAmount" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <sql id="Base_Column_List">
    id, product_code, use_date, duration, status, create_time, update_time
  </sql>

  <!--<select id="selectByCon" parameterType="java.util.Map" resultMap="BaseResultMap">
    select
    id,product_code,use_date,duration,status
    from t_kzjr_product_config
    where use_date = #{useDate} AND duration = #{duration} AND status = #{status}
  </select>-->

  <select id="selectByCon" parameterType="java.util.Map" resultMap="BaseResultMap">
    select
    id,product_code,use_date,duration,status
    from t_kzjr_product_config
    where use_date = #{useDate} AND duration = #{duration} AND status = #{status}
  </select>

  <select id="selectByPriority" parameterType="java.util.Map" resultMap="BaseResultMap">
    select * from t_kzjr_product_config
    where use_date &gt;= #{useDate} AND duration = #{duration} AND status = #{status} AND full_status = #{fullStatus}
    AND remain_amount IS NOT NULL AND remain_amount!=0
     ORDER BY priority ASC
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_kzjr_product_config
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_kzjr_product_config
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.nyd.capital.entity.KzjrProductConfig">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_kzjr_product_config (id, product_code, use_date, 
      duration, status, create_time, 
      update_time)
    values (#{id,jdbcType=BIGINT}, #{productCode,jdbcType=VARCHAR}, #{useDate,jdbcType=DATE}, 
      #{duration,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.nyd.capital.entity.KzjrProductConfig">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_kzjr_product_config
    <trim prefix="(" suffix=")" suffixOverrides=",">
      id,
      <if test="productCode != null">
        product_code,
      </if>
      <if test="useDate != null">
        use_date,
      </if>
      <if test="duration != null">
        duration,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      #{id,jdbcType=BIGINT},
      <if test="productCode != null">
        #{productCode,jdbcType=VARCHAR},
      </if>
      <if test="useDate != null">
        #{useDate,jdbcType=DATE},
      </if>
      <if test="duration != null">
        #{duration,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.nyd.capital.entity.KzjrProductConfig">
    update t_kzjr_product_config
    <set>
      <if test="productCode != null">
        product_code = #{productCode,jdbcType=VARCHAR},
      </if>
      <if test="useDate != null">
        use_date = #{useDate,jdbcType=DATE},
      </if>
      <if test="duration != null">
        duration = #{duration,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.nyd.capital.entity.KzjrProductConfig">
    update t_kzjr_product_config
    set product_code = #{productCode,jdbcType=VARCHAR},
      use_date = #{useDate,jdbcType=DATE},
      duration = #{duration,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>


</mapper>