<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nyd.capital.dao.mappers.UserPocketMapper">

    <insert id="savePassword" parameterType="com.nyd.capital.entity.UserPocket">
        insert into xxd_user.t_user_pocket
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                user_id,
            </if>
            <if test="memberId != null">
                member_id,
            </if>
            <if test="stage != null">
                stage,
            </if>
            <if test="amount != null">
                amount,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="mobile != null">
                mobile,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="updateBy != null">
                update_by,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId,jdbcType=VARCHAR},
            </if>
            <if test="memberId != null">
                #{memberId,jdbcType=VARCHAR},
            </if>
            <if test="stage != null">
                #{stage,jdbcType=INTEGER},
            </if>
            <if test="amount != null">
                #{amount,jdbcType=DECIMAL},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="mobile != null">
                #{mobile,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                #{updateBy,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <select id="selectPasswordByUserId" parameterType="string" resultType="com.nyd.capital.entity.UserPocket">
        select password from xxd_user.t_user_pocket
        where user_id = #{userId}
    </select>


    <select id="selectUserStageTwo" resultType="com.nyd.capital.entity.UserPocket">
        select * from xxd_user.t_user_pocket
        where stage = 2
    </select>

    <select id="selectPocketByStage" resultType="com.nyd.capital.entity.UserPocket" parameterType="int">
        select * from xxd_user.t_user_pocket
        where stage = #{code}
    </select>

    <select id="getUserPocketByUserId" resultType="com.nyd.capital.entity.UserPocket">
        select * from xxd_user.t_user_pocket
        where user_id = #{userId}
    </select>
    <update id="updateUserPocket" parameterType="com.nyd.capital.entity.UserPocket">
        update xxd_user.t_user_pocket
        <set>
            <if test="memberId != null">
                member_id =  #{memberId,jdbcType=VARCHAR},
            </if>
            <if test="withDrawUrl != null">
                with_draw_url = #{withDrawUrl,jdbcType=VARCHAR},
            </if>
            <if test="stage != null">
                stage = #{stage,jdbcType=INTEGER},
            </if>
            <if test="amount != null">
                amount = #{amount,jdbcType=DECIMAL},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="mobile != null">
                mobile = #{mobile,jdbcType=VARCHAR},
            </if>
        </set>
        where user_id = #{userId}
    </update>

    <select id="selectUserPocketByMemberId" parameterType="string" resultType="com.nyd.capital.entity.UserPocket">
        select * from xxd_user.t_user_pocket
        where member_id = #{memberId}
    </select>

</mapper>