<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nyd.capital.dao.mappers.UserDldLoanMapper">
	<resultMap id="BaseResultMap"
		type="com.nyd.capital.entity.UserDldLoan">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="mobile" jdbcType="VARCHAR" property="mobile" />
		<result column="user_id" jdbcType="VARCHAR" property="userId" />
		<result column="channal_code" jdbcType="VARCHAR"
			property="channalCode" />
		<result column="mer_order_no" jdbcType="VARCHAR"
			property="merOrderNo" />
		<result column="card" jdbcType="VARCHAR" property="card" />
		<result column="custom" jdbcType="VARCHAR" property="custom" />
		<result column="loan_amt" jdbcType="VARCHAR" property="loanAmt" />
		<result column="loan_days" jdbcType="VARCHAR"
			property="loanDays" />
		<result column="purpose" jdbcType="VARCHAR" property="purpose" />
		<result column="periodization" jdbcType="VARCHAR"
			property="periodization" />
		<result column="customer_id" jdbcType="VARCHAR"
			property="customerId" />
		<result column="contract_url" jdbcType="VARCHAR"
			property="contractUrl" />
		<result column="delete_flag" jdbcType="TINYINT"
			property="deleteFlag" />
		<result column="stage" jdbcType="TINYINT" property="stage" />
		<result column="create_time" jdbcType="TIMESTAMP"
			property="createTime" />
		<result column="update_time" jdbcType="TIMESTAMP"
			property="updateTime" />
		<result column="update_by" jdbcType="VARCHAR"
			property="updateBy" />
	</resultMap>
	<sql id="Base_Column_List">
		id, mobile, user_id, channal_code, mer_order_no,
		card,custom,loan_amt,loan_days,purpose,periodization,customer_id,stage,
		create_time, update_time, update_by, contract_url
	</sql>
	<select id="findList"
		parameterType="com.nyd.capital.entity.UserDldLoan"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_user_dld_loan
		WHERE delete_flag = #{deleteFlag,jdbcType=TINYINT}
	</select>

	<insert id="save"
		parameterType="com.nyd.capital.entity.UserDldLoan">
		insert into xxd_user.t_user_dld_loan
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="userId != null">
				user_id,
			</if>
			<if test="stage != null">
				stage,
			</if>
			<if test="mobile != null">
				mobile,
			</if>
			<if test="channalCode != null">
				channal_code,
			</if>
			<if test="merOrderNo != null">
				mer_order_no,
			</if>
			<if test="card != null">
				card,
			</if>
			<if test="custom != null">
				custom,
			</if>
			<if test="loanAmt != null">
				loan_amt,
			</if>
			<if test="loanDays != null">
				loan_days,
			</if>
			<if test="purpose != null">
				purpose,
			</if>
			<if test="periodization != null">
				periodization,
			</if>
			<if test="customerId != null">
				customer_id,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="updateBy != null">
				update_by,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="userId != null">
				#{userId,jdbcType=VARCHAR},
			</if>
			<if test="stage != null">
				#{stage,jdbcType=INTEGER},
			</if>
			<if test="mobile != null">
				#{mobile,jdbcType=VARCHAR},
			</if>
			<if test="channalCode != null">
				#{channalCode,jdbcType=VARCHAR},
			</if>
			<if test="merOrderNo != null">
				#{merOrderNo,jdbcType=VARCHAR},
			</if>
			<if test="certifyId != null">
				#{certifyId,jdbcType=VARCHAR},
			</if>
			<if test="card != null">
				#{card,jdbcType=VARCHAR},
			</if>
			<if test="loanAmt != null">
				#{loanAmt,jdbcType=VARCHAR},
			</if>
			<if test="loanDays != null">
				#{loanDays,jdbcType=VARCHAR},
			</if>
			<if test="purpose != null">
				#{purpose,jdbcType=VARCHAR},
			</if>
			<if test="periodization != null">
				#{periodization,jdbcType=VARCHAR},
			</if>
			<if test="customerId != null">
				#{customerId,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateBy != null">
				#{updateBy,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>

	<update id="update"
		parameterType="com.nyd.capital.entity.UserDldLoan">
		update xxd_user.t_user_dld_loan
		set
		<trim prefix="" suffix="" suffixOverrides=",">
			<if test="stage != null">
				stage = #{stage,jdbcType=INTEGER},
			</if>
			<if test="mobile != null">
				mobile = #{mobile,jdbcType=VARCHAR},
			</if>
			<if test="channalCode != null">
				channal_code = #{channalCode,jdbcType=VARCHAR},
			</if>
			<if test="contractUrl != null">
				contract_url = #{contractUrl,jdbcType=VARCHAR},
			</if>
		</trim>
		where 1=1 
			<trim prefix="" suffix="" suffixOverrides=" and ">
			<if test="userId != null">
				and user_id = #{userId,jdbcType=VARCHAR}
			</if>
			<if test="merOrderNo != null">
				and mer_order_no = #{merOrderNo,jdbcType=VARCHAR}
			</if>
			</trim>
	</update>

	<!--根据订单编号查找对应订单详情 -->
	<select id="getUserDldLoanByOrderNo" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		SELECT
		*
		FROM
		xxd_user.t_user_dld_loan
		<where>
			AND mer_order_no = #{orderNo,jdbcType=VARCHAR}
			AND delete_flag = 0
		</where>
	</select>

</mapper>