<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nyd.batch.dao.mapper.RepayReportMapper">
  <resultMap id="BaseResultMap" type="com.nyd.batch.entity.RepayReport">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="customer_name" jdbcType="VARCHAR" property="customerName" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="loan_no" jdbcType="VARCHAR" property="loanNo" />
    <result column="capital_name" jdbcType="VARCHAR" property="capitalName" />
    <result column="product_type" jdbcType="INTEGER" property="productType" />
    <result column="label" jdbcType="VARCHAR" property="label" />
    <result column="test_status" jdbcType="INTEGER" property="testStatus" />
    <result column="contract_start_date" jdbcType="DATE" property="contractStartDate" />
    <result column="contract_end_date" jdbcType="DATE" property="contractEndDate" />
    <result column="overdue_day" jdbcType="INTEGER" property="overdueDay" />
    <result column="overdue_period" jdbcType="VARCHAR" property="overduePeriod" />
    <result column="contract_time" jdbcType="INTEGER" property="contractTime" />
    <result column="serial_no" jdbcType="VARCHAR" property="serialNo" />
    <result column="repay_channel" jdbcType="VARCHAR" property="repayChannel" />
    <result column="actual_receipt_day" jdbcType="DATE" property="actualReceiptDay" />
    <result column="contract_amount" jdbcType="DECIMAL" property="contractAmount" />
    <result column="remit_amount" jdbcType="DECIMAL" property="remitAmount" />
    <result column="fee_item" jdbcType="DECIMAL" property="feeItem" />
    <result column="overdue_should_amount" jdbcType="DECIMAL" property="overdueShouldAmount" />
    <result column="receive_amount" jdbcType="DECIMAL" property="receiveAmount" />
    <result column="accum_repay_amount" jdbcType="DECIMAL" property="accumRepayAmount" />
    <result column="third_party_poundage" jdbcType="DECIMAL" property="thirdPartyPoundage" />
    <result column="this_contract_amount" jdbcType="DECIMAL" property="thisContractAmount" />
    <result column="this_fee_service" jdbcType="DECIMAL" property="thisFeeService" />
    <result column="this_interest_amount" jdbcType="DECIMAL" property="thisInterestAmount" />
    <result column="this_fee_late" jdbcType="DECIMAL" property="thisFeeLate" />
    <result column="this_overdue_faxi" jdbcType="DECIMAL" property="thisOverdueFaxi" />
    <result column="compensatory_amount" jdbcType="DECIMAL" property="compensatoryAmount" />
    <result column="activity_derate" jdbcType="DECIMAL" property="activityDerate" />
    <result column="collection_derate" jdbcType="DECIMAL" property="collectionDerate" />
    <result column="drawback_amount" jdbcType="DECIMAL" property="drawbackAmount" />
    <result column="other_income" jdbcType="DECIMAL" property="otherIncome" />
    <result column="member_fee_id" jdbcType="VARCHAR" property="memberFeeId" />
    <result column="member_fee_amount" jdbcType="DECIMAL" property="memberFeeAmount" />
    <result column="member_fee_pay" jdbcType="DECIMAL" property="memberFeePay" />
    <result column="member_fee_pay_date" jdbcType="TIMESTAMP" property="memberFeePayDate" />
    <result column="member_fee_pay_channel" jdbcType="VARCHAR" property="memberFeePayChannel" />
    <result column="expire_time" jdbcType="TIMESTAMP" property="expireTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <insert id="insert" parameterType="com.nyd.batch.entity.RepayReport">

    insert into t_repay_report (order_no, customer_name,
      mobile, loan_no, capital_name, 
      product_type, label, test_status, 
      contract_start_date, contract_end_date, overdue_day, 
      overdue_period, contract_time, serial_no, 
      repay_channel, actual_receipt_day, contract_amount, 
      remit_amount, fee_item, overdue_should_amount, 
      receive_amount, accum_repay_amount, third_party_poundage, 
      this_contract_amount, this_fee_service, this_interest_amount, 
      this_fee_late, this_overdue_faxi, compensatory_amount, 
      activity_derate, collection_derate, drawback_amount, 
      other_income, member_fee_id, member_fee_amount, 
      member_fee_pay, member_fee_pay_date, member_fee_pay_channel, 
      expire_time
      )
    values (#{orderNo,jdbcType=VARCHAR}, #{customerName,jdbcType=VARCHAR},
      #{mobile,jdbcType=VARCHAR}, #{loanNo,jdbcType=VARCHAR}, #{capitalName,jdbcType=VARCHAR}, 
      #{productType,jdbcType=INTEGER}, #{label,jdbcType=VARCHAR}, #{testStatus,jdbcType=INTEGER}, 
      #{contractStartDate,jdbcType=DATE}, #{contractEndDate,jdbcType=DATE}, #{overdueDay,jdbcType=INTEGER}, 
      #{overduePeriod,jdbcType=VARCHAR}, #{contractTime,jdbcType=INTEGER}, #{serialNo,jdbcType=VARCHAR}, 
      #{repayChannel,jdbcType=VARCHAR}, #{actualReceiptDay,jdbcType=DATE}, #{contractAmount,jdbcType=DECIMAL}, 
      #{remitAmount,jdbcType=DECIMAL}, #{feeItem,jdbcType=DECIMAL}, #{overdueShouldAmount,jdbcType=DECIMAL}, 
      #{receiveAmount,jdbcType=DECIMAL}, #{accumRepayAmount,jdbcType=DECIMAL}, #{thirdPartyPoundage,jdbcType=DECIMAL}, 
      #{thisContractAmount,jdbcType=DECIMAL}, #{thisFeeService,jdbcType=DECIMAL}, #{thisInterestAmount,jdbcType=DECIMAL}, 
      #{thisFeeLate,jdbcType=DECIMAL}, #{thisOverdueFaxi,jdbcType=DECIMAL}, #{compensatoryAmount,jdbcType=DECIMAL}, 
      #{activityDerate,jdbcType=DECIMAL}, #{collectionDerate,jdbcType=DECIMAL}, #{drawbackAmount,jdbcType=DECIMAL}, 
      #{otherIncome,jdbcType=DECIMAL}, #{memberFeeId,jdbcType=VARCHAR}, #{memberFeeAmount,jdbcType=DECIMAL},
      #{memberFeePay,jdbcType=DECIMAL}, #{memberFeePayDate,jdbcType=TIMESTAMP}, #{memberFeePayChannel,jdbcType=VARCHAR}, 
      #{expireTime,jdbcType=TIMESTAMP})
  </insert>

  <delete id="deleteRepayReport" parameterType="java.util.Map">
    DELETE  FROM t_repay_report WHERE DATE_FORMAT(actual_receipt_day,'%Y-%m-%d')=#{cdate}
  </delete>
  <insert id="insertSelective" parameterType="com.nyd.batch.entity.RepayReport">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_repay_report
    <trim prefix="(" suffix=")" suffixOverrides=",">
      id,
      <if test="orderNo != null">
        order_no,
      </if>
      <if test="customerName != null">
        customer_name,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="loanNo != null">
        loan_no,
      </if>
      <if test="capitalName != null">
        capital_name,
      </if>
      <if test="productType != null">
        product_type,
      </if>
      <if test="label != null">
        label,
      </if>
      <if test="testStatus != null">
        test_status,
      </if>
      <if test="contractStartDate != null">
        contract_start_date,
      </if>
      <if test="contractEndDate != null">
        contract_end_date,
      </if>
      <if test="overdueDay != null">
        overdue_day,
      </if>
      <if test="overduePeriod != null">
        overdue_period,
      </if>
      <if test="contractTime != null">
        contract_time,
      </if>
      <if test="serialNo != null">
        serial_no,
      </if>
      <if test="repayChannel != null">
        repay_channel,
      </if>
      <if test="actualReceiptDay != null">
        actual_receipt_day,
      </if>
      <if test="contractAmount != null">
        contract_amount,
      </if>
      <if test="remitAmount != null">
        remit_amount,
      </if>
      <if test="feeItem != null">
        fee_item,
      </if>
      <if test="overdueShouldAmount != null">
        overdue_should_amount,
      </if>
      <if test="receiveAmount != null">
        receive_amount,
      </if>
      <if test="accumRepayAmount != null">
        accum_repay_amount,
      </if>
      <if test="thirdPartyPoundage != null">
        third_party_poundage,
      </if>
      <if test="thisContractAmount != null">
        this_contract_amount,
      </if>
      <if test="thisFeeService != null">
        this_fee_service,
      </if>
      <if test="thisInterestAmount != null">
        this_interest_amount,
      </if>
      <if test="thisFeeLate != null">
        this_fee_late,
      </if>
      <if test="thisOverdueFaxi != null">
        this_overdue_faxi,
      </if>
      <if test="compensatoryAmount != null">
        compensatory_amount,
      </if>
      <if test="activityDerate != null">
        activity_derate,
      </if>
      <if test="collectionDerate != null">
        collection_derate,
      </if>
      <if test="drawbackAmount != null">
        drawback_amount,
      </if>
      <if test="otherIncome != null">
        other_income,
      </if>
      <if test="memberFeeId != null">
        member_fee_id,
      </if>
      <if test="memberFeeAmount != null">
        member_fee_amount,
      </if>
      <if test="memberFeePay != null">
        member_fee_pay,
      </if>
      <if test="memberFeePayDate != null">
        member_fee_pay_date,
      </if>
      <if test="memberFeePayChannel != null">
        member_fee_pay_channel,
      </if>
      <if test="expireTime != null">
        expire_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      #{id,jdbcType=INTEGER},
      <if test="orderNo != null">
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="customerName != null">
        #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="loanNo != null">
        #{loanNo,jdbcType=VARCHAR},
      </if>
      <if test="capitalName != null">
        #{capitalName,jdbcType=VARCHAR},
      </if>
      <if test="productType != null">
        #{productType,jdbcType=INTEGER},
      </if>
      <if test="label != null">
        #{label,jdbcType=VARCHAR},
      </if>
      <if test="testStatus != null">
        #{testStatus,jdbcType=INTEGER},
      </if>
      <if test="contractStartDate != null">
        #{contractStartDate,jdbcType=DATE},
      </if>
      <if test="contractEndDate != null">
        #{contractEndDate,jdbcType=DATE},
      </if>
      <if test="overdueDay != null">
        #{overdueDay,jdbcType=INTEGER},
      </if>
      <if test="overduePeriod != null">
        #{overduePeriod,jdbcType=VARCHAR},
      </if>
      <if test="contractTime != null">
        #{contractTime,jdbcType=INTEGER},
      </if>
      <if test="serialNo != null">
        #{serialNo,jdbcType=VARCHAR},
      </if>
      <if test="repayChannel != null">
        #{repayChannel,jdbcType=VARCHAR},
      </if>
      <if test="actualReceiptDay != null">
        #{actualReceiptDay,jdbcType=DATE},
      </if>
      <if test="contractAmount != null">
        #{contractAmount,jdbcType=DECIMAL},
      </if>
      <if test="remitAmount != null">
        #{remitAmount,jdbcType=DECIMAL},
      </if>
      <if test="feeItem != null">
        #{feeItem,jdbcType=DECIMAL},
      </if>
      <if test="overdueShouldAmount != null">
        #{overdueShouldAmount,jdbcType=DECIMAL},
      </if>
      <if test="receiveAmount != null">
        #{receiveAmount,jdbcType=DECIMAL},
      </if>
      <if test="accumRepayAmount != null">
        #{accumRepayAmount,jdbcType=DECIMAL},
      </if>
      <if test="thirdPartyPoundage != null">
        #{thirdPartyPoundage,jdbcType=DECIMAL},
      </if>
      <if test="thisContractAmount != null">
        #{thisContractAmount,jdbcType=DECIMAL},
      </if>
      <if test="thisFeeService != null">
        #{thisFeeService,jdbcType=DECIMAL},
      </if>
      <if test="thisInterestAmount != null">
        #{thisInterestAmount,jdbcType=DECIMAL},
      </if>
      <if test="thisFeeLate != null">
        #{thisFeeLate,jdbcType=DECIMAL},
      </if>
      <if test="thisOverdueFaxi != null">
        #{thisOverdueFaxi,jdbcType=DECIMAL},
      </if>
      <if test="compensatoryAmount != null">
        #{compensatoryAmount,jdbcType=DECIMAL},
      </if>
      <if test="activityDerate != null">
        #{activityDerate,jdbcType=DECIMAL},
      </if>
      <if test="collectionDerate != null">
        #{collectionDerate,jdbcType=DECIMAL},
      </if>
      <if test="drawbackAmount != null">
        #{drawbackAmount,jdbcType=DECIMAL},
      </if>
      <if test="otherIncome != null">
        #{otherIncome,jdbcType=DECIMAL},
      </if>
      <if test="memberFeeId != null">
        #{memberFeeId,jdbcType=INTEGER},
      </if>
      <if test="memberFeeAmount != null">
        #{memberFeeAmount,jdbcType=DECIMAL},
      </if>
      <if test="memberFeePay != null">
        #{memberFeePay,jdbcType=DECIMAL},
      </if>
      <if test="memberFeePayDate != null">
        #{memberFeePayDate,jdbcType=TIMESTAMP},
      </if>
      <if test="memberFeePayChannel != null">
        #{memberFeePayChannel,jdbcType=VARCHAR},
      </if>
      <if test="expireTime != null">
        #{expireTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>