<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nyd.batch.dao.mapper.TMemberConfigMapper">
  <resultMap id="BaseResultMap" type="com.nyd.batch.entity.TMemberConfig">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="type_describe" jdbcType="VARCHAR" property="typeDescribe" />
    <result column="real_fee" jdbcType="DECIMAL" property="realFee" />
    <result column="discount_fee" jdbcType="DECIMAL" property="discountFee" />
    <result column="effect_time" jdbcType="INTEGER" property="effectTime" />
    <result column="business" jdbcType="VARCHAR" property="business" />
    <result column="delete_flag" jdbcType="TINYINT" property="deleteFlag" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
  </resultMap>
  <sql id="Base_Column_List">
    id, type, type_describe, real_fee, discount_fee, effect_time, business, delete_flag, 
    create_time, update_time, update_by
  </sql>
  <select id="selectByMemberType" parameterType="java.util.Map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_member_config
    where type = #{memberType,jdbcType=INTEGER}
  </select>

</mapper>