<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nyd.admin.dao.mapper.DldLoanDataMapper">
	<select id="findTwoLoanData"
		resultType="com.nyd.admin.model.dto.DldCreateBillDto">
		SELECT
		A.bank_account bankcardNo,
		C.bill_no businessOrderNo,
		D.id_number idNumber,
		D.mobile mobile,
		A.loan_amount payAmount,
		A.user_id userId,
		A.member_id memberId
		FROM
		xxd_order.t_order A
		LEFT JOIN
		xxd_zeus.t_remit B ON A.order_no = B.order_no
		LEFT JOIN
		xxd_zeus.t_bill
		C ON B.order_no = C.order_no
		LEFT JOIN
		xxd_order.t_order_detail D ON
		A.order_no = D.order_no
		WHERE
		A.pay_time IS NULL
		AND B.remit_status = '0'
		AND A.order_status = 1000
		AND
		C.bill_status != 'B003'
		AND A.app_name =
		'xqj1'
		ORDER BY
		A.id DESC;
	</select>

	<select id="findCollectionData"
		resultType="com.nyd.admin.model.dto.DldCreateBillDto">
		SELECT
		B.bank_account bankcardNo,
	    A.bill_no  businessOrderNo,
	    D.id_number idNumber,
		D.mobile mobile,
	    A.wait_repay_amount payAmount,
	    A.user_id userId,
        B.member_id memberId,
		A.app_name merchantCode,
		B.fund_code payChannelCode
	  FROM
	    xxd_zeus.t_bill A
		LEFT JOIN xxd_order.t_order B ON A.order_no = B.order_no
		LEFT JOIN xxd_zeus.t_overdue_bill C ON A.bill_no = C.bill_no
		LEFT JOIN xxd_order.t_order_detail D ON A.order_no = D.order_no
		WHERE
			 A.bill_status = 'B002'
			and DATE_FORMAT(A.create_time,'%Y-%m-%d') > '2018-10-14';
	</select>
	
	 <insert id="saveWithholdOrder" parameterType="com.nyd.admin.entity.WithholdOrder">
        insert into xxd_order.t_withhold_order
                (member_id,
                user_id,
                pay_amount,
                pay_order_no,
            <if test="withholdOrderNo != null">
                withhold_order_no,
            </if>
                order_status,
                app_name
        ) values(
                #{memberId,jdbcType=VARCHAR},
                #{userId,jdbcType=VARCHAR},
                #{payAmount,jdbcType=DECIMAL},
                #{payOrderNo,jdbcType=VARCHAR},
            <if test="withholdOrderNo != null">
                #{withholdOrderNo,jdbcType=VARCHAR},
            </if>
                #{orderStatus,jdbcType=INTEGER},
                #{appName,jdbcType=VARCHAR})
    </insert>
</mapper>