<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nyd.admin.dao.mapper.JiGuangPushMapper">
	<select id="findDataIncompleteCount" resultType="Integer" parameterType="com.nyd.admin.model.dto.JiGuangParamDto">
			SELECT
				COUNT(0)
			FROM
			xxd_user.t_user_step a
		LEFT JOIN xxd_user.t_account b ON a.user_id = b.user_id
		LEFT JOIN xxd_user.t_user_detail c ON a.user_id = c.user_id
		LEFT JOIN xxd_user.t_user_source d ON b.account_number = d.account_number
		WHERE(a.mobile_flag = '0' OR c.living_address = '')     
        <if test="appName != null and appName != '' and appName == 'nyd'">
	            AND (d.app_name = #{appName} or d.app_name is null)
	    </if>
	    <if test="appName != null and appName != '' and appName != 'nyd'">
	            AND d.app_name=#{appName}
	    </if> 
        <if test="startTime != null and startTime != ''">
            AND a.create_time <![CDATA[ > ]]> #{startTime}
        </if>
        <if test="endTime != null and endTime != ''">
            AND a.create_time <![CDATA[ < ]]> #{endTime}
        </if>
	</select>
	
	<select id="findDataIncomplete" resultType="java.lang.String" parameterType="com.nyd.admin.model.dto.JiGuangParamDto">
		 SELECT
				a.user_id
			FROM
			xxd_user.t_user_step a
		LEFT JOIN xxd_user.t_account b ON a.user_id = b.user_id
		LEFT JOIN xxd_user.t_user_detail c ON a.user_id = c.user_id
		LEFT JOIN xxd_user.t_user_source d ON b.account_number = d.account_number
		WHERE(a.mobile_flag = '0' OR c.living_address = '')       
        <if test="appName != null and appName != '' and appName == 'nyd'">
	            AND (d.app_name = #{appName} or d.app_name is null)
	    </if>
	    <if test="appName != null and appName != '' and appName != 'nyd'">
	            AND d.app_name=#{appName}
	    </if>   
        <if test="startTime != null and startTime != ''">
            AND a.create_time <![CDATA[ > ]]> #{startTime}
        </if>
        <if test="endTime != null and endTime != ''">
            AND a.create_time <![CDATA[ < ]]> #{endTime}
        </if>
        ORDER BY a.create_time DESC
	</select>
	
	<select id="findLoanSuccessCount" resultType="int" parameterType="com.nyd.admin.model.dto.JiGuangParamDto">
		  SELECT
			 COUNT(0)
			FROM
			  (
			   SELECT
	        count(0)
	      		FROM
	        xxd_order.t_order a
	        WHERE 
	        a.order_status = '50'
	       	<if test="appName != null and appName != '' and appName == 'nyd'">
	            AND (a.app_name=#{appName} or a.app_name is null)
	        </if> 	        
	        <if test="appName != null and appName != '' and appName != 'nyd'">
	            AND a.app_name=#{appName}
	        </if>
	        <if test="startTime != null and startTime != ''">
	            AND a.pay_time <![CDATA[ > ]]> #{startTime}
	        </if>
	        <if test="endTime != null and endTime != ''">
	            AND a.pay_time <![CDATA[ < ]]> #{endTime}
	        </if>
	        GROUP BY a.user_id
			)temp
		  		                       
	</select>
	
	<select id="findLoanSuccess" resultType="string" parameterType="com.nyd.admin.model.dto.JiGuangParamDto">
		   SELECT
	        a.user_id
	       FROM
	        xxd_order.t_order a
	        WHERE 
	        a.order_status = '50'
	       	<if test="appName != null and appName != '' and appName == 'nyd'">
	            AND (a.app_name=#{appName} or a.app_name is null)
	        </if> 	        
	        <if test="appName != null and appName != '' and appName != 'nyd'">
	            AND a.app_name=#{appName}
	        </if>      	       	              
	        <if test="startTime != null and startTime != ''">
	            AND a.pay_time <![CDATA[ > ]]> #{startTime}
	        </if>
	        <if test="endTime != null and endTime != ''">
	            AND a.pay_time <![CDATA[ < ]]> #{endTime}
	        </if>
	        GROUP BY a.user_id
	        ORDER BY a.pay_time DESC
	</select>

</mapper>