@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.clearfix {
    content: '';
    display: inline-block;
    overflow: hidden;
    clear: both;
}

.fillcontain {
    height: 100%;
    width: 100%;
    background: url(../images/login_back.jpg) no-repeat center;
    background-size: cover;
    position: absolute;
    overflow: hidden;
}

.form_contianer {
    width: 320px;
    height: 226px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -113px;
    margin-left: -160px;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
}

.form_contianer .manage_tip {
    position: absolute;
    width: 100%;
    top: -70px;
    left: 0;
}

.form_contianer .manage_tip p {
    font-size: 34px;
    color: #fff;
    margin: 0;
}

.form_contianer .margin_bot22 {
    margin-bottom: 22px;
}

.form_contianer .icon-conmon {
    display: inline-block;
    width: 27px;
    height: 34px;
    margin-top: 2px;
    background: url(../images/icon/icon_user.png) no-repeat center;
    background-size: 20px 20px;
}

.form_contianer .icon-password {
    background: url(../images/icon/icon_password.png) no-repeat center;
    background-size: 20px 20px;
}

/* 邀请好友 START */
.invest_wrap {
    width: 100%;
    background-color: #117CFF;
    font-size: 14px;
    font-family: PingFang-SC-Medium;
    padding-bottom: 20px;
}

.invest_wrap .invest_con {
    padding: 0 10px;
}

.invest_wrap .invest_top {
    font-size: 0;
}

.invest_wrap .invest_top img {
    width: 100%;
}

.invest_wrap .invest_con {
    font-size: 0;
}

.invest_wrap .invest_con .invest_tab ul {
    width: 100%;

}

.invest_wrap .invest_con .invest_tab ul li {
    list-style: none;
    float: left;
    width: 49%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #FBE19A;
    margin-right: 2%;
    color: #9E4C0C;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    font-size: 18px;
}
.invest_wrap .invest_con .invest_tab ul li.active {
    background-color: #fff;
}
.invest_wrap .invest_con .invest_tab ul li:last-child {
    margin-right: 0;
}

.invest_wrap .invest_con .part_wrap {
    color: #8C8C8C;
    font-size: 12px;
    /* background-color: #fff; */
    
}
/* .invest_wrap .invest_con .part_wrap .part_one {
        background-color: #fff;
} */
.invest_wrap .invest_con .part_wrap .part_one ul {
    padding: 0 20px;
    font-size: 12px;
    background-color: #fff; 
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.invest_wrap .invest_con .part_wrap .part_one ul li {
    display: -webkit-flex;
    display: flex;
}

.invest_wrap .invest_con .part_wrap .part_one ul li .com_left p {
    color: #865735;
    font-size: 16px;
    margin: 24px 0;
   
}

.invest_wrap .invest_con .part_wrap .part_one ul li .com_left p span {
    display: inline-block;
    background-color: #D75E06;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    color: #fff;
    font-weight: bold;
    margin: 0 1px 0 5px;
}

.invest_wrap .invest_con .part_wrap .part_one ul li .com_left .word {
    line-height: 1.5
}

.invest_wrap .invest_con .part_wrap .part_one ul li .com_left {
    flex: 1;
    -webkit-flex: 1;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
     overflow:hidden;
}

.invest_wrap .invest_con .part_wrap .part_one ul li {
    padding-top: 20px;
}

.invest_wrap .invest_con .part_wrap .part_one ul li .com_wid {
    width: 110px;
}

.invest_wrap .invest_con .part_wrap .part_one ul li .com_right img {
    width: 80%;
}

.invest_wrap .invest_con .part_wrap .part_one ul li .word a {
    color: #117CFF;
    display: inline-block;
    width: 70%;
}

.invest_wrap .invest_con .part_wrap .part_one ul li .word a img {
    width: 100%;
    margin-top: 10px;
    display: inline-block;

}

.erweima {
    width: 80%;
    background-color: #FBE19A;
    border-radius: 10px;
    padding: 15px;
    margin: 10px auto 30px;
}

.erweima img {
    width: 100%;
}

.invest_bot {
    background-color: #fff;
    padding: 20px;
    font-size: 14px;
    color: #8C8C8C;
    margin-top: 25px;
    border-radius: 10px;
}

.invest_bot h4 {
    color: #865735;
    font-size: 17px;
    text-align: center;
}

.invest_bot h4::before,
.invest_bot h4::after {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    background: url('../images/invest/icon_title.png') no-repeat center;
    background-size: 100%;
    margin-right: 10px;
}

.invest_bot h4::after {
    margin-right: 0;
    margin-left: 10px;
}

.invest_bot ul li {
    line-height: 2;
    margin-top: 10px;
}

.invest_wrap .invest_con .part_wrap .part_two {
    display: none;
    color: #AB7C59;
    font-size: 12px;
    padding-top: 20px;
    background-color: #fff;
    padding-bottom: 50px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.invest_wrap .invest_con .part_wrap .part_two  .part_two_con {
margin: 0 10px;
background-color: #FEF9EC;
border-radius:7px;
}
.invest_wrap .invest_con .part_wrap .part_two_con_wrap {
    padding: 0 20px;
    position: relative;
}
.invest_wrap .invest_con .part_wrap .part_two_con_wrap p {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 6px;
}
.invest_wrap .invest_con .part_wrap .part_two_con_wrap .money {
    color: #FC5920;
    text-align: center;
    font-size: 36px;
    line-height: 1;
    border-bottom: 1px solid #DCDCDC;
    padding-bottom: 20px;
}
.invest_wrap .invest_con .part_wrap .part_two_con_wrap ul {
    width: 100%;
}
.invest_wrap .invest_con .part_wrap .part_two_con_wrap ul li {
    float:left;
    width: 50%;
}
.invest_wrap .invest_con .part_wrap .part_two_con_wrap ul li p {
    text-align: left;
    color:#AB7C59;
    font-size:18px;
    font-weight:bold;
}
.invest_wrap .invest_con .part_wrap .part_two_con_wrap ul li p.money_word {
    font-size:12px;
    padding-top: 0;
    padding-bottom: 50px;
}
.invest_wrap .invest_con .part_wrap .part_two_con_wrap .withdraw_btn {
    text-align:center;
    position: absolute;
    bottom: -29px;
    left: 50%;
    transform: translateX(-50%);
    border:none;
    outline:none;
    box-shadow:none;
    text-shadow :none;
    background:none;
}
.invest_wrap .invest_con .part_wrap .part_two_con_wrap .withdraw_btn img {
    width: 150px;
}
.invest_wrap .invest_con .part_wrap .part_two .showDetail {
    text-align: center;
    padding-top: 50px;
}
.invest_wrap .invest_con .part_wrap .part_two .showDetail a {
    color: #117CFF;
    font-size: 14px;
    text-decoration: none;
}
#link {
    border: none;
    color: #117CFF;
}
.totast_cre {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    transform: translateX(-50%);
    padding: 13px 16px;
    color: #ccc;
    background-color: rgba(37,38,45,.9);
    border-radius: 2px;
    z-index: 8989898989;
    display: none;
}

.address {
    color: #117CFF;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/* 邀请好友 END */
/* 提现明细 START */
#appDet {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    /*width: 100%;*/
    background-color: #f0eff5;
    z-index: 20180504;

}
#appDet .scroll {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    /* height: 100%; */
    bottom: 0;
}

#activityTab {
    background-color: #fff;
    padding: 0 15px;
}

#activityTab .title {
    line-height: 1;
    padding: 20px 0 10px;
    color: #666666;
    font-size: 14px;
}

#activityTab li {
    /* background-color: #fff; */
    /* margin-bottom: 6px; */
    background-color: #fff;
    border-bottom: 1px solid #DCDCDC;
}

#activityTab li .time {
    font-size: 12px;
    font-family:"PingFang-SC-Medium";
    color: #A8A8A8;
    padding-bottom: 14px;
}
#activityTab li .time .float_right {
    color:#FD6F42;
    font-size: 14px;
    float: right;
}
#activityTab li .time .addActive {
    color:#117CFF;
}
#appDet .ques-wrap .noData {
    width: 80%;
    margin: 50% auto 0;
    display: block;
} 
.cube-pullup-wrapper .before-trigger {
    font-size: 9px;
    color: #5f5d5d;
}
/* 提现明细 END */
/* 弹框 START */
.jq-alert {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .3);
    z-index: 99;
    font-size: 14px;
    font-family: "PingFangSC-Regular", Helvetica Neue, Tahoma, Arial, 'Hiragino Sans GB', 'Microsoft Yahei', sans-serif;
  }

  .jq-alert .alert {
    background-color: #FFF;
    width: 80%;
    height: auto;
    border-radius: 4px;
    overflow: hidden;
  }

  .jq-alert .alert .title {
    position: relative;
    margin: 0;
    font-size: 15px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-weight: normal;
    color: rgba(0, 0, 0, .8);
  }

  .jq-alert .alert .content {
    padding: 30px;
    font-size: 15px;
    color: rgba(0, 0, 0, .6);
    text-align: center;
  }

  .jq-alert .alert .fd-btn {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    justify-content: center;
    align-items: center;
  }

  .jq-alert .alert .fd-btn a.confirm {
    color: #2196F3;
  }

  .jq-alert a {
    text-decoration: none;
  }

  .jq-alert .alert .fd-btn a {
    width: 100%;
    height: 40px;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: rgba(0, 0, 0, .8);
  }
  /* 弹框 END */