<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nyd.pay.dao.mapper.HelibaoFilesConfigMapper" > 

	<!-- Result Map-->
	<resultMap id="BaseResultMap" type="com.nyd.order.entity.zzl.HelibaoFilesConfig" >
			<result column="id" property="id"/>
			<result column="customer_number" property="customerNumber"/>
			<result column="cert_path" property="certPath"/>
			<result column="pfx_path" property="pfxPath"/>
			<result column="pfx_pwd" property="pfxPwd"/>
			<result column="pay_ip" property="payIp"/>
			<result column="pay_url" property="payUrl"/>
			<result column="pay_callback_url" property="payCallbackUrl"/>
			<result column="entrusted_loan_url" property="entrustedLoanUrl"/>
			<result column="entrusted_uploan_url" property="entrustedUploanUrl"/>
			<result column="entrusted_callback_url" property="entrustedCallbackUrl"/>
			<result column="signkey" property="signkey"/>
			<result column="signkey_private" property="signkeyPrivate"/>
			<result column="deskey_key" property="deskeyKey"/>
			<result column="goods_name" property="goodsName"/>
			<result column="remark" property="remark"/>
		</resultMap>
	       
	<!-- helibao_files_config table all fields -->
	<sql id="Base_Column_List" >
		 id,customer_number,cert_path,pfx_path,pfx_pwd,pay_ip,pay_url,pay_callback_url,entrusted_loan_url,entrusted_uploan_url,entrusted_callback_url,signkey,signkey_private,deskey_key,goods_name,remark
	</sql>
	   
	<!-- 查询条件 -->
	<sql id="where_Clause">
	where 1=1
	<trim  suffixOverrides="," >
				 		<if test="id != null and id != ''" >
		    and id =  #{id}
		</if>
				 		<if test="customerNumber != null and customerNumber != ''" >
		    and customer_number =  #{customerNumber}
		</if>
				 		<if test="certPath != null and certPath != ''" >
		    and cert_path =  #{certPath}
		</if>
				 		<if test="pfxPath != null and pfxPath != ''" >
		    and pfx_path =  #{pfxPath}
		</if>
				 		<if test="pfxPwd != null and pfxPwd != ''" >
		    and pfx_pwd =  #{pfxPwd}
		</if>
				 		<if test="payIp != null and payIp != ''" >
		    and pay_ip =  #{payIp}
		</if>
				 		<if test="payUrl != null and payUrl != ''" >
		    and pay_url =  #{payUrl}
		</if>
				 		<if test="payCallbackUrl != null and payCallbackUrl != ''" >
		    and pay_callback_url =  #{payCallbackUrl}
		</if>
				 		<if test="entrustedLoanUrl != null and entrustedLoanUrl != ''" >
		    and entrusted_loan_url =  #{entrustedLoanUrl}
		</if>
				 		<if test="entrustedUploanUrl != null and entrustedUploanUrl != ''" >
		    and entrusted_uploan_url =  #{entrustedUploanUrl}
		</if>
				 		<if test="entrustedCallbackUrl != null and entrustedCallbackUrl != ''" >
		    and entrusted_callback_url =  #{entrustedCallbackUrl}
		</if>
				 		<if test="signkey != null and signkey != ''" >
		    and signkey =  #{signkey}
		</if>
				 		<if test="signkeyPrivate != null and signkeyPrivate != ''" >
		    and signkey_private =  #{signkeyPrivate}
		</if>
				 		<if test="deskeyKey != null and deskeyKey != ''" >
		    and deskey_key =  #{deskeyKey}
		</if>
				 		<if test="goodsName != null and goodsName != ''" >
		    and goods_name =  #{goodsName}
		</if>
				 		<if test="remark != null and remark != ''" >
		    and remark =  #{remark}
		</if>
		</trim>
	</sql>
	

	
	
	<select id="queryHelibaoFilesConfigInfo" resultMap="BaseResultMap" parameterType="com.nyd.order.entity.zzl.HelibaoFilesConfig">
		select * from  helibao_files_config
	</select>
	

  	
</mapper>   
