<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nyd.pay.dao.mapper.YsbUserMapper">
    <resultMap type="com.nyd.pay.entity.YsbUser" id="BaseResultMap">
        <id column="id" property="fId" jdbcType="INTEGER" />
        <result column="user_id" property="userId" jdbcType="VARCHAR" />
        <result column="user_name" property="name" jdbcType="VARCHAR" />
        <result column="id_number" property="idNumber" jdbcType="VARCHAR" />
        <result column="card_no" property="cardNo" jdbcType="VARCHAR" />
        <result column="subContractId" property="subContractId" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, user_id, user_name, card_no, subContractId, start_date, end_date,
        create_time, update_time, update_by
    </sql>

    <select id="selectByUserIdAndCardNo" resultMap="BaseResultMap" parameterType="java.util.Map" >
        select * from  t_user_ysb
        <where>

            <if test="cardno != null and cardno != '' ">
                and card_no = #{cardno,jdbcType=INTEGER}
            </if>
            <if test="idNumber != null and idNumber != '' ">
                and id_number = #{idNumber,jdbcType=INTEGER}
            </if>


        </where>

    </select>

    <insert id="insert" parameterType="com.nyd.pay.entity.YsbUser" >
        insert into t_user_ysb (user_id, user_name,id_number,card_no, subContractId, update_by)
        values ( #{userId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},#{idNumber,jdbcType=VARCHAR},
        #{cardNo,jdbcType=VARCHAR}, #{subContractId,jdbcType=VARCHAR},
        #{updateBy,jdbcType=VARCHAR})
    </insert>



</mapper>
